description = "About Us Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main-menu"

[vdlpStructuredData]

[localePicker]
forceUrl = 1

[Agent]
==
{% partial 'site/head' %}



<!-- Wrapper -->

<div class="wrapper">

    

    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}


    

    <!-- Content -->

    <div class="content">



        <!-- About Us -->

        {variable name="aboutusTitle" label="About Us Title" tab="About Us" type="text"}{/variable}

        {variable name="aboutusInfo" label="About Us Information" tab="About Us" type="richeditor"}{/variable}

        {variable name="bgAbout" label="Background Image" tab="About Us" type="mediafinder" mode="image"}{/variable}

        {variable name="bgaboutMobile" label="Background Mobile" tab="About Us" type="mediafinder" mode="image"}{/variable}

        {% set bg = bgAbout %}

        {% if Agent.isMobile() %}

        <div class="aboutus" id="aboutus" style="background: url({{ bgaboutMobile|media }})no-repeat center center; background-size: cover; width: 100%; height: 100%;">

        {% else %}

        <div class="aboutus" id="aboutus" style="background: url({% if bg == '' %}'https://mdbootstrap.com/img/Photos/Others/images/59.jpg'{% else %}{{ bgAbout|media }}{% endif %})

        no-repeat center center; background-size: cover;">

        {% endif %}

        <div class="container"> 

            <div class="row">

                <div class="col col-sm-12 col-md-6 col-lg-6 title-about">

                    <h3>{{ aboutusTitle }}</h3>

                    <br>

                    <div id="scrollbar-text">

                        <p>{{ aboutusInfo|raw }}</p>

                    </div>



               </div>

            </div>

        </div>

        </div>

      

    </div>

    <!-- End content -->

            

    {% page %}

    

    {% partial 'site/footer' %}

</div>