description = "Article Category Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main-menu"

[vdlpStructuredData]

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "articles"
postsPerPage = 1
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "articles/category"
postPage = "articles/post"

[localePicker]
forceUrl = 1

[blogCategories]
slug = "articles"
displayEmpty = 0
categoryPage = "articles/category"

[Agent]
==
{% partial 'site/head' %}



<!-- Wrapper -->

<div class="wrapper">

    

    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}


    

    <!-- Content -->

    <div class="content">



        <!-- Article Category -->
        {% if Agent.isMobile() %}
         <div class="article-category" id="article-category" style="background: url({{ 'updates/articles/mobile/bgMobile_Articles_Category.jpg'|media }})
        no-repeat center top; background-size: cover; width: 100%; height: auto;">
        {% else %}
        <div class="article-category" id="article-category" style="background: url({{ 'updates/articles/bgArticles_Category.jpg'|media }})
        no-repeat fixed center; background-size: cover; width: 100%; height: auto;">
        {% endif %}
            <div class="container-fluid"> 

                <div class="row">

                    <div class="col">
                            <h2>ARTICLE</h2>
                                                   
                            <style type="text/css">
                                .post-list{
                                    padding: ;
                                }
                                ul {
                                    margin-left: ;
                                }
                            </style>
                        
                        {% set posts = blogPosts.posts %}
                        <div class="container-fluid">
                            <div class="row">
                                <ul class="post-list">
                                    {% for post in posts %}
                                    
                                            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                        
                                            {% if Agent.isMobile() %}
                                            <p class="excerpt">{{ str_limit(post.summary|raw, 70) }}</p>
                                            {% else %}
                                            <p class="excerpt">{{ str_limit(post.summary|raw, 300) }}</p>
                                            {% endif %}

                                    {% else %}
                                        <li class="no-data">{{ blogPosts.noPostsMessage }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="container pagination-article">
                            <div class="row">
                            {% if posts.lastPage > 1 %}
                                    <ul class="pagination">
                                        <li>
                                            {% if posts.currentPage > 1 %}
                                                <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}"></a></li>
                                        
                                            {% endif %}
                                        </li>
                        
                                        {% for page in 1..posts.lastPage %}
                                            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                                                <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}"><bold>{{ page }}</bold></a>
                                            </li>
                                        {% endfor %}
                        
                                        <li>
                                            {% if posts.lastPage > posts.currentPage %}
                                                <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">...</a></li>
                                            {% endif %}
                                        </li>
                                    </ul>
                            {% endif %}
                            </div>
                        </div>




                        </div>

    

                   </div>

                </div>

            </div>

        </div>

            

      

    </div>

    <!-- End content -->

            

    {% page %}

    

    {% partial 'site/footer' %}

</div>