description = "Baker Series & Accessories Product Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main-menu"

[vdlpStructuredData]

[localePicker]
forceUrl = 1

[Agent]
==
{% partial 'site/head' %}



<!-- Wrapper -->

<div class="wrapper">

    

    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}


    

    <!-- Content -->

    <div class="content">



        <!-- Baker Series & Accesories -->

        {% set bg = bgImage %}

        {variable name="bakerseriesTitle" label="Baker Series & Accessories Title" tab="Baker Series & Accessories" type="text"}{/variable}

        {variable name="bakerseriesInfo" label="Baker Series & Accessories Info" tab="Baker Series & Accessories" type="richeditor"}{/variable}

        {variable name="bgImage" label="Background Image" tab="Baker Series & Accessories" type="mediafinder" mode="image"}{/variable}

        <div class="bakeraccessories" id="bakeraccessories">

        <div class="container"> 

            <h2>{{ bakerseriesTitle }}</h2>

            <p>{{ bakerseriesInfo|raw }}</p>

            <div class="owl-carousel owl-theme">

                <div class="item">

                    <img src="{{ 'assets/img/baker1.png'|theme }}" alt="Tulip Masterfilling Mochaccino">

                    <h6>Tulip Masterfilling Mochaccino</h6>

                    <div class="card bakeraccessories-card">

                        <table cellpadding="4">

                            <tr>

                                <th>{{'Package'|_}}</th>

                                <td>:</td>

                                <td>{{'Pack 4x5 kg/carton'|_}}</th>

                            </tr>

                            <tr>

                                <th>{{'Shelf life'|_}}</th>

                                <td>:</td>

                                <td>{{'12 months'|_}}</td>

                            </tr>

                            <tr>

                                <th>{{'Certification'|_}}</th>

                                <td>:</td>

                                <td>BPOM 223910036010</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HALAL 00110004850699</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HACCP ID12/02086</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>ISO 9001 ID15/03123</td>

                            </tr>

                        </table>

                    </div>

                </div>

                <div class="item">

                    <img src="{{ 'assets/img/baker2.png'|theme }}" alt="Tulip Masterfilling Dark Chocolate">

                    <h6>Tulip Masterfilling Dark Chocolate</h6>

                    <p>{{'Bake stable dark chocolate filling for bun, bread, cookies, etc.'|_}}</p>

                    <div class="card bakeraccessories-card">

                        <table cellpadding="4">

                            <tr>

                                <th>{{'Package'|_}}</th>

                                <td>:</td>

                                <td>{{'Pack 4x5 kg/carton'|_}}</th>

                            </tr>

                            <tr>

                                <th>{{'Shelf life'|_}}</th>

                                <td>:</td>

                                <td>{{'12 months'|_}}</td>

                            </tr>

                            <tr>

                                <th>{{'Certification'|_}}</th>

                                <td>:</td>

                                <td>BPOM 223910036010</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HALAL 00110004850699</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HACCP ID12/02086</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>ISO 9001 ID15/03123</td>

                            </tr>

                        </table>

                    </div>

                </div>

                <div class="item">

                    <img src="{{ 'assets/img/baker3.png'|theme }}" alt="Dark Choco Chip">

                    <h6>Dark Choco Chip</h6>

                    <p>{{'Premium white compound with high milk fat content.'|_}}</p>

                    <div class="card bakeraccessories-card">

                        <table cellpadding="4">

                            <tr>

                                <th>{{'Package'|_}}</th>

                                <td>:</td>

                                <td>{{'Pack 1x10 kg/carton'|_}}</th>

                            </tr>

                            <tr>

                                <th>{{'Shelf life'|_}}</th>

                                <td>:</td>

                                <td>{{'16 months'|_}}</td>

                            </tr>

                            <tr>

                                <th>{{'Certification'|_}}</th>

                                <td>:</td>

                                <td>BPOM 223910036010</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HALAL 00110004850699</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HACCP ID12/02086</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>ISO 9001 ID15/03123</td>

                            </tr>

                        </table>

                    </div>

                </div>

                <div class="item">

                    <img src="img/feature-options.png" alt="" width="20px" height="200px">

                </div>

                <div class="item">

                    <img src="img/feature-responsive.png" alt="" width="20px" height="200px">

                </div>

                <div class="item">

                    <img src="img/feature-zombie.png" alt="" width="20px" height="200px">

                </div>

            </div>

            <div class="slider_nav">

            <img class="am-prev" src="{{ 'assets/img/button_left.png'|theme }}" width="200px" height="auto">

            <img class="am-next" src="{{ 'assets/img/button_right.png'|theme }}" width="200px" height="auto">      

            </div>

            <!-- End container -->

            <div class="container see-recipes" style="width:50%;" >

                <div class="row">

                    <div class="col-md-4  ">

                        <div class="d-flex flex-row justify-content-center ">

                            <div class="text-right m-2 recipes-desc">

                            <p class="mb-1">Cupcake</p>

                            <a href="/updates/category/recipes'|app }}"><i>{{'See Recipes'|_}}</i></a>

                            </div>

                            <img class="mt-2 mb-2" src="{{ 'assets/img/cupcake_burned.png'|theme }}" width="50px" height="auto">

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="d-flex flex-row justify-content-center">

                            <div class="text-right m-2 recipes-desc">

                            <p class="mb-1">Chocolate Cake</p>

                            <a href="/updates/category/recipes'|app }}"><i>{{'See Recipes'|_}}</i></a>

                            </div>

                            <img class="mt-2 mb-2" src="{{ 'assets/img/chocolatecake_burned.png'|theme }}"  width="50px" height="auto">

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="d-flex flex-row justify-content-center">

                            <div class="text-right m-2 recipes-desc">

                            <p class="mb-1">Cookies</p>

                            <a href="/updates/category/recipes'|app }}"><i>{{'See Recipes'|_}}</i></a>

                            </div>

                            <img class="mt-2 mb-2" src="{{ 'assets/img/cookies_burned.png'|theme }}"  width="50px" height="auto">

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- End couverture -->

    </div>

    <!-- End content -->

            

    {% page %}

    

    {% partial 'site/footer' %}

</div>