description = "Compound Series Product Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main-menu"

[vdlpStructuredData]

[localePicker]
forceUrl = 1

[Agent]
==
{% partial 'site/head' %}



<!-- Wrapper -->

<div class="wrapper">

    

    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}


    

    <!-- Content -->

    <div class="content">



        <!-- Compound Series -->

        {% set bg = bgImage %}

        {variable name="compoundTitle" label="Compound Title" tab="Compound Series" type="text"}{/variable}

        {variable name="compoundInfo" label="Compound Information" tab="Compound Series" type="richeditor"}{/variable}

        {variable name="bgImage" label="Background Image" tab="Compound Series" type="mediafinder" mode="image"}{/variable}

        <div class="compound" id="compound">

        <div class="container"> 

            <h2>{{ compoundTitle }}</h2>

            <p>{{ compoundInfo|raw }}</p>

            

            <div class="owl-carousel owl-theme">

                <div class="item">

                    <img src="{{ 'assets/img/compound1.png'|theme }}" alt="Tulip Chocolatier Dark Chocolate Compound">

                    <h6>Tulip Chocolatier Dark Chocolate Compound</h6>

                    <p>{{'Premium dark chocolate compound with strong natural cocoa aroma.'|_}}</p>

                    <div class="card compound-card">

                        <table cellpadding="4">

                            <tr>

                                <th>{{'Package'|_}}</th>

                                <td>:</td>

                                <td>{{'Pack 12x1 kg/carton'|_}}</th>

                            </tr>

                            <tr>

                                <th>{{'Shelf life'|_}}</th>

                                <td>:</td>

                                <td>{{'16 months'|_}}</td>

                            </tr>

                            <tr>

                                <th>{{'Certification'|_}}</th>

                                <td>:</td>

                                <td>BPOM 224310024010</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HALAL 00110004850699</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HACCP ID12/02086</td>

                            <tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>ISO 9001 ID15/03123</td>

                                </tr>

                        </table>

                    </div>

                </div>

                <div class="item">

                    <img src="{{ 'assets/img/compound2.png'|theme }}" alt="Tulip Chocolatier Milk Chocolate Compound">

                    <h6>Tulip Chocolatier Milk Chocolate Compound</h6>

                    <p>{{'Premium milk chocolate compound with high milk fat.'|_}}</p>

                    <div class="card compound-card">

                        <table cellpadding="4">

                            <tr>

                                <th>{{'Package'|_}}</th>

                                <td>:</td>

                                <td>{{'Pack 12x1 kg/carton'|_}}</th>

                            </tr>

                            <tr>

                                <th>{{'Shelf life'|_}}</th>

                                <td>:</td>

                                <td>{{'16 months'|_}}</td>

                            </tr>

                            <tr>

                                <th>{{'Certification'|_}}</th>

                                <td>:</td>

                                <td>BPOM 2244310010010</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HALAL 00110004850699</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HACCP ID12/02086</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>ISO 9001 ID15/03123</td>

                                </tr>

                        </table>

                    </div>

                </div>

                <div class="item">

                    <img src="{{ 'assets/img/compound3.png'|theme }}" alt="Tulip Chocolatier Bittersweet Chocolate Couverture">

                    <h6>Tulip Chocolatier White Compound</h6>

                    <p>{{'Premium white compound with high milk fat content.'|_}}</p>

                    <div class="card compound-card">

                        <table cellpadding="4">

                            <tr>

                                <th>{{'Package'|_}}</th>

                                <td>:</td>

                                <td>{{'Pack 12x1 kg/carton'|_}}</th>

                            </tr>

                            <tr>

                                <th>{{'Shelf life'|_}}</th>

                                <td>:</td>

                                <td>{{'12 months'|_}}</td>

                            </tr>

                            <tr>

                                <th>{{'Certification'|_}}</th>

                                <td>:</td>

                                <td>BPOM 224310013010</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HALAL 00110004850699</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>HACCP ID12/02086</td>

                            </tr>

                            <tr>

                                <td></td>

                                <td></td>

                                <td>ISO 9001 ID15/03123</td>

                            </tr>

                        </table>

                    </div>

                </div>

                <div class="item">

                    <img src="img/feature-options.png" alt="" width="20px" height="200px">

                </div>

                <div class="item">

                    <img src="img/feature-responsive.png" alt="" width="20px" height="200px">

                </div>

                <div class="item">

                    <img src="img/feature-zombie.png" alt="" width="20px" height="200px">

                </div>

            </div>

            <!-- Owl Carousel -->



                <div class="slider_nav">

                <img class="am-prev" src="{{ 'assets/img/button_left.png'|theme }}" width="200px" height="auto">

                <img class="am-next" src="{{ 'assets/img/button_right.png'|theme }}" width="200px" height="auto">

                </div>        

            </div>

            <!-- End container -->



            <div class="container see-recipes" style="width:50%;" >

                <div class="row">

                    <div class="col-md-4  ">

                        <div class="d-flex flex-row justify-content-center ">

                            <div class="text-right m-2 recipes-desc">

                            <p class="mb-1">Cupcake</p>

                            <a href="/updates/category/recipes'|app }}"><i>{{'See Recipes'|_}}</i></a>

                            </div>

                            <img class="mt-2 mb-2" src="{{ 'assets/img/cupcake_burned.png'|theme }}" width="50px" height="auto">

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="d-flex flex-row justify-content-center">

                            <div class="text-right m-2 recipes-desc">

                            <p class="mb-1">Chocolate Cake</p>

                            <a href="/updates/category/recipes'|app }}"><i>{{'See Recipes'|_}}</i></a>

                            </div>

                            <img class="mt-2 mb-2" src="{{ 'assets/img/chocolatecake_burned.png'|theme }}"  width="50px" height="auto">

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="d-flex flex-row justify-content-center">

                            <div class="text-right m-2 recipes-desc">

                            <p class="mb-1">Cookies</p>

                            <a href="/updates/category/recipes'|app }}"><i>{{'See Recipes'|_}}</i></a>

                            </div>

                            <img class="mt-2 mb-2" src="{{ 'assets/img/cookies_burned.png'|theme }}"  width="50px" height="auto">

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- End couverture -->

    </div>

    <!-- End content -->

            

    {% page %}

    

    {% partial 'site/footer' %}

</div>