description = "Contact Us Layout"

[genericForm]
group = "Contact Us"
rules[name] = "required"
rules[email] = "required|email"
rules[comments] = "required"
rules_messages[name] = "Please Fill Your Name..."
rules_messages[email] = "Please Fill Your Email..."
rules_messages[comments] = "Please Fill Your Message..."
messages_success = "Message sent"
messages_errors = "Error"
mail_enabled = 0
mail_resp_enabled = 0
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[staticMenu]
code = "main-menu"

[staticPage]
useContent = 1
default = 0

[localePicker]
forceUrl = 1

[Agent]
==
{% partial 'site/head' %}



<!-- Wrapper -->

<div class="wrapper">

    

    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}


    

    <!-- Content -->

    <div class="content">



        <!-- Contact -->

        {% if Agent.isMobile() %}

            <div class="contact" id="contact" style="background: url({{ url("/contactus/mobile/contact-mobile.jpg"|media)}})no-repeat center center; background-size: cover; width: 100%; height: 100%;" >

        {% else %}

        <div class="contact" id="contact" style="background: url({{ url("/contactus/contactus.jpg"|media)}})no-repeat center center; background-size: cover; width: 100%; height: 100%;">

        {% endif %}

            <div class="container">

                <div class="row">

                   <div class="col-md-4 offset-md-7">

                    <form data-request="{{ genericForm }}::onFormSubmit">

                        {{ form_token() }}

                        <div id="{{ genericForm }}_forms_flash"></div>

                        <div class="form-group contact-form">

                            <input type="text" id="name" name="name" class="form-control" placeholder="{{ placeholder1 }}" required>

                        </div>

                        <div class="form-group contact-form">

                            <input type="text" id="email" name="email" class="form-control" placeholder="{{ placeholder2 }}" required>

                        </div>

                        <div class="form-group contact-form">

                            <textarea id="comments" name="comments" class="form-control" rows="8" cols="80" placeholder="{{ placeholder3 }}" required></textarea>

                        </div>

                        <button id="simpleContactSubmitButton" type="submit" class="btn btn-radius">{{ buttonContact }}</button>

                    </form>

                   </div>

                </div>

            </div>

        </div>

      

    </div>

    <!-- End content -->

            

    {% page %}

    

    {% partial 'site/footer' %}

</div>



<!-- Dont erase this code -->

{variable name="placeholder1" label="Placeholder Name" tab="Contact Us" type="text"}{/variable}

{variable name="placeholder2" label="Placeholder Email" tab="Contact Us" type="text"}{/variable}

{variable name="placeholder3" label="Placeholder Message" tab="Contact Us" type="text"}{/variable}

{variable name="buttonContact" label="Button Contact" tab="Contact Us" type="text"}{/variable}

{variable name="bgImage" label="Background Image" tab="Contact Us" type="mediafinder" mode="image"}{/variable}