description = "Tulip Councelor Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main-menu"

[localePicker]
forceUrl = 1

[Agent]
==
{% partial 'site/head' %}

<!-- Wrapper -->
<div class="wrapper">
    
    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}

    
    <!-- Content -->
    <div class="content">

        <!-- Councelor -->
        {% set bg = bgImage %}
        {variable name="councelorTitle" label="Councelor Title" tab="Councelor" type="text"}{/variable}
        {variable name="councelorInfo" label="Councelor Information" tab="Councelor" type="richeditor"}{/variable}
        {variable name="bgImage" label="Background Image" tab="Councelor" type="mediafinder" mode="image"}{/variable}
        <div class="councelor" id="councelor" style="background: url({% if bg == '' %}'https://mdbootstrap.com/img/Photos/Others/images/59.jpg'{% else %}{{ bgImage|media }}{% endif %})
        no-repeat center center; background-size: cover;">
             <div class="container text-left">
                <div class="row">
                    <div class="col col-sm-12 col-md-6 col-lg-6">
                      <h3><strong>{{ councelorTitle|raw }}</strong></h3>
                        <p class="">{{ councelorInfo|raw }}</p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <!-- End content -->
            
    {% page %}
    
    {% partial 'site/footer' %}
</div>