description = "Couverture Series Product Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main-menu"

[vdlpStructuredData]

[localePicker]
forceUrl = 1

[Agent]
==
{% partial 'site/head' %}



<!-- Wrapper -->

<div class="wrapper">

    

    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}


    

    <!-- Content -->

    <div class="content">



        <!-- Couverture Series -->

        {% set bg = bgImage %}

        {variable name="couvertureTitle" label="Couverture Title" tab="Couverture Series" type="text"}{/variable}

        {variable name="couvertureInfo" label="Couverture Information" tab="Couverture Series" type="richeditor"}{/variable}

        {variable name="bgImage" label="Background Image" tab="Couverture Series" type="mediafinder" mode="image"}{/variable}

        <div class="couverture" id="couverture">

            <div class="container"> 

                <h2>{{ couvertureTitle }}</h2>

                <p>{{ couvertureInfo|raw }}</hp>

                <div class="owl-carousel owl-theme">

                    <div class="item">

                        <img src="{{ 'assets/img/couverture1.png'|theme }}" alt="Sixty Two Dark Chocolate Couverture">

                        <h6>Sixty Two Dark Chocolate Couverture</h6>

                        <p>{{'Dark chocolate couverture in coins shape with 62% cocoa content.'|_}}</p>

                        <div class="card couverture-card">

                            <table cellpadding="4">

                                <tr>

                                    <th>{{'Package'|_}}</th>

                                    <td>:</td>

                                    <td>2,5 kg </th>

                                </tr>

                                <tr>

                                    <th>{{'Shelf life'|_}}</th>

                                    <td>:</td>

                                    <td>{{'18 Months'|_}}</td>

                                </tr>

                                <tr>

                                    <th>{{'Certification'|_}}</th>

                                    <td>:</td>

                                    <td>BPOM 824010039010</td>

                                </tr>

                                <tr>

                                    <td></td>

                                    <td></td>

                                    <td>HALAL 00110004850699</td>

                                </tr>

                                <tr>

                                    <td></td>

                                    <td></td>

                                    <td>HACCP ID12/02086</td>

                                </tr>

                                <tr>

                                    <td></td>

                                    <td></td>

                                    <td>ISO 9001 ID15/03123</td>

                                </tr>

                            </table>

                        </div>

                    </div>

                    <div class="item">

                        <img src="{{ 'assets/img/couverture2.png'|theme }}" alt="Tulip Chocolatier White Chocolate Couverture">

                        <h6>Tulip Chocolatier White Chocolate Couverture</h6>

                        <p>{{'White real couverture chocolate with 33% cocoa fat content.'|_}}</p>

                        <div class="card couverture-card">

                            <table cellpadding="4">

                                    <tr>

                                        <th>{{'Package'|_}}</th>

                                        <td>:</td>

                                        <td>{{'Pack 12x1 kg/carton'|_}}</th>

                                    </tr>

                                    <tr>

                                        <th>{{'Shelf life'|_}}</th>

                                        <td>:</td>

                                        <td>{{'12 months'|_}}</td>

                                    </tr>

                                    <tr>

                                        <th>{{'Certification'|_}}</th>

                                        <td>:</td>

                                        <td>BPOM 224010045010</td>

                                    </tr>

                                    <tr>

                                        <td></td>

                                        <td></td>

                                        <td>HALAL 00110004850699</td>

                                    </tr>

                                    <tr>

                                        <td></td>

                                        <td></td>

                                        <td>HACCP ID12/02086</td>

                                    </tr>

                                    <tr>

                                        <td></td>

                                        <td></td>

                                        <td>ISO 9001 ID15/03123</td>

                                    </tr>

                                </table>

                        </div>

                    </div>

                    <div class="item">

                        <img src="{{ 'assets/img/couverture3.png'|theme }}" alt="Tulip Chocolatier Bittersweet Chocolate Couverture">

                        <h6>Tulip Chocolatier Bittersweet Chocolate Couverture</h6>

                        <p>{{'Dark real couverture chocolate with 55% cocoa content.'|_}}</p>

                        <div class="card couverture-card">

                            <table cellpadding="4">

                                    <tr>

                                        <th>{{'Package'|_}}</th>

                                        <td>:</td>

                                        <td>{{'Pack 12x1 kg/carton'|_}}</th>

                                    </tr>

                                    <tr>

                                        <th>{{'Shelf life'|_}}</th>

                                        <td>:</td>

                                        <td>{{'18 months'|_}}</td>

                                    </tr>

                                    <tr>

                                        <th>{{'Certification'|_}}</th>

                                        <td>:</td>

                                        <td>BPOM 224010045010</td>

                                    </tr>

                                    <tr>

                                        <td></td>

                                        <td></td>

                                        <td>HALAL 00110004850699</td>

                                    </tr>

                                    <tr>

                                        <td></td>

                                        <td></td>

                                        <td>HACCP ID12/02086</td>

                                    </tr>

                                    <tr>

                                        <td></td>

                                        <td></td>

                                        <td>ISO 9001 ID15/03123</td>

                                    </tr>

                                </table>

                        </div>

                    </div>

                    <div class="item">

                        <img src="img/feature-options.png" alt="" width="20px" height="200px">

                    </div>

                    <div class="item">

                        <img src="img/feature-responsive.png" alt="" width="20px" height="200px">

                    </div>

                    <div class="item">

                        <img src="img/feature-zombie.png" alt="" width="20px" height="200px">

                    </div>

                </div>

                <!-- Owl Carousel -->



                <div class="slider_nav">

                <img class="am-prev" src="{{ 'assets/img/button_left.png'|theme }}" width="200px" height="auto">

                <img class="am-next" src="{{ 'assets/img/button_right.png'|theme }}" width="200px" height="auto">

                </div>        

            </div>

            <!-- End container -->



            <div class="container see-recipes" style="width:50%;" >

                <div class="row">

                    <div class="col-md-4  ">

                        <div class="d-flex flex-row justify-content-center ">

                            <div class="text-right m-2 recipes-desc">

                            <p class="mb-1">Cupcake</p>

                            <a href="/updates/category/recipes'|app }}"><i>{{'See Recipes'|_}}</i></a>

                            </div>

                            <img class="mt-2 mb-2" src="{{ 'assets/img/cupcake_burned.png'|theme }}" width="50px" height="auto">

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="d-flex flex-row justify-content-center">

                            <div class="text-right m-2 recipes-desc">

                            <p class="mb-1">Chocolate Cake</p>

                            <a href="/updates/category/recipes'|app }}"><i>{{'See Recipes'|_}}</i></a>

                            </div>

                            <img class="mt-2 mb-2" src="{{ 'assets/img/chocolatecake_burned.png'|theme }}"  width="50px" height="auto">

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div class="d-flex flex-row justify-content-center">

                            <div class="text-right m-2 recipes-desc">

                            <p class="mb-1">Cookies</p>

                            <a href="/updates/category/recipes'|app }}"><i>{{'See Recipes'|_}}</i></a>

                            </div>

                            <img class="mt-2 mb-2" src="{{ 'assets/img/cookies_burned.png'|theme }}"  width="50px" height="auto">

                        </div>

                    </div>

                </div>

            </div>

    

        </div>

        <!-- End couverture -->

    </div>

    <!-- End content -->

            

    {% page %}

    

    {% partial 'site/footer' %}

</div>