description = "Couverture Series Product Detail Layout"

[localePicker]
forceUrl = 1

[Agent]
==
{% partial 'site/head' %}



<!-- Wrapper -->

<div class="wrapper">

    

    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}


    

    <!-- Content -->

    <div class="content">



        <!-- Couverture Series -->

        {% set bg = bgImage %}

        {variable name="couvertureTitle" label="Couverture Title" tab="Couverture Series" type="text"}{/variable}

        {variable name="couvertureInfo" label="Couverture Information" tab="Couverture Series" type="richeditor"}{/variable}

        {variable name="bgImage" label="Background Image" tab="Couverture Series" type="mediafinder" mode="image"}{/variable}

        <div class="couverture" id="couverture">

            <div class="container"> 

               <div class="row">

                   <div class="col-md-8 image-slider-main">

                        <div id="slider-wrapper">

                            <div id="image-slider">

                                <ul>

                                    <li class="active-img">

                                        <img src="http://dev.tulipchocolate.com/storage/app/media/products/couverture/Chocolate_White_Couverture.png" style="width: 360px; height: 240px;"/>

                                    </li>

                                    <li>

                                        <img src="https://36.media.tumblr.com/0eb59d5c5bc5cde7737bb99d527247ca/tumblr_nxi8jzk8OS1rwfs76o1_540.jpg" alt="" />

                                    </li>

                                    <li>

                                        <img src="https://40.media.tumblr.com/d4e261711a84707195d8fb9b0a94dccb/tumblr_o05avp3WSh1rn52wlo1_540.jpg" alt="" />

                                    </li>

                                    <li>

                                        <img src="https://40.media.tumblr.com/817bd6a18d9ca6877c9d5a1b7d33c198/tumblr_mx1cizinbl1qljihqo1_540.jpg" alt="" />

                                    </li>

                                    <li>

                                        <img src="https://40.media.tumblr.com/6fbf40647afad248b55af46361aea7f9/tumblr_nvdl4xGcxB1r3zwc2o1_540.jpg" alt="" />

                                    </li>   

                                    <li>

                                        <img src="https://41.media.tumblr.com/77a37a7053a8d4b7b11be6d0bfed1073/tumblr_n7eb66mNme1se0g8bo1_540.jpg" alt="" />

                                    </li>   

                                    <li>

                                        <img src="https://40.media.tumblr.com/tumblr_mbupbf3nR31rfxi00o1_r1_540.jpg" alt="" />

                                    </li>                                               

                                </ul>

                            </div>



                            <div id="thumbnail">

                                <ul>

                                    <li class="active"> <img src="http://dev.tulipchocolate.com/storage/app/media/products/couverture/Chocolate_White_Couverture.png" style="width: 360px; height: 240px;"/></li>

                                    <li><img src="https://36.media.tumblr.com/0eb59d5c5bc5cde7737bb99d527247ca/tumblr_nxi8jzk8OS1rwfs76o1_540.jpg" alt="" /></li>

                                    <li><img src="https://40.media.tumblr.com/d4e261711a84707195d8fb9b0a94dccb/tumblr_o05avp3WSh1rn52wlo1_540.jpg" alt="" /></li>

                                    <li><img src="https://40.media.tumblr.com/817bd6a18d9ca6877c9d5a1b7d33c198/tumblr_mx1cizinbl1qljihqo1_540.jpg" alt="" /></li>       

                                    <li><img src="https://40.media.tumblr.com/6fbf40647afad248b55af46361aea7f9/tumblr_nvdl4xGcxB1r3zwc2o1_540.jpg" alt="" /></li>   

                                    <li><img src="https://41.media.tumblr.com/77a37a7053a8d4b7b11be6d0bfed1073/tumblr_n7eb66mNme1se0g8bo1_540.jpg" alt="" /></li>   

                                    <li><img src="https://40.media.tumblr.com/tumblr_mbupbf3nR31rfxi00o1_r1_540.jpg" alt="" /></li>                     

                                </ul>

                            </div>

                        </div>

                   </div>

                   <div class="col-md-4 product-description">

                       <h3>Tulip Chocolatier White Chocolate Couverture</h3>

                       <p>White real couverture chocolate with 33% cocoa fat content.</p>

                       <h6>Product Description :</h6>

                       <br>

                       <div class="card border-primary">

                            <table cellpadding="4">

                                <tr>

                                    <th>Package</th>

                                    <td>:</td>

                                    <td>Pack 12x1 kg/carton</th>

                                </tr>

                                <tr>

                                    <th>Shelf life</th>

                                    <td>:</td>

                                    <td>12 Months</td>

                                </tr>

                                <tr>

                                    <th>Certification</th>

                                    <td>:</td>

                                    <td>BPOM 824010039010</td>

                                </tr>

                                <tr>

                                    <td></td>

                                    <td></td>

                                    <td>HALAL 00110004850699</td>

                                </tr>

                                <tr>

                                    <td></td>

                                    <td></td>

                                    <td>HACCP ID12/02086</td>

                                </tr>

                                <tr>

                                    <td></td>

                                    <td></td>

                                    <td>ISO 9001 ID15/03123</td>

                                </tr>

                            </table>

                       </div>

                   </div>

               </div>

            </div>

            <!-- End container -->

           

        </div>

        <!-- End couverture -->

    </div>

    <!-- End content -->

            

    {% page %}

    

    {% partial 'site/footer' %}

</div>