description = "Footer Layout"

[staticPage]
useContent = 1
default = 0

[Agent]
==
<!-- Footer -->
{variable name="btnLink" label="Button Link" tab="Featured Image" type="text"}{/variable}
<footer class="footer-container">

    <div class="container social-media">
        <div class="row">
             <!-- Grid column -->
            <div class="col-md-12">
                <h3>FOLLOW US ON:</h3>
                <div class="mb-5 flex-center social-class">
                    <div class="footer-icons">
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
				</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container copyright">
    	<div class="row">

            <div class="col">
            	&copy; Copyright 2020 Tulip Chocolate. All Rights Reserved
            </div>
            
            <button class="top-btn"><i class="fa fa-arrow-up scroll-top"></i></button>

        </div>
    </div>
</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js">
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js" ></script>
    <script src="{{ [
        'assets/js/jquery-3.3.1.min.js',
        'assets/js/jquery-migrate-3.0.0.min.js',
        'assets/js/wow.min.js',
        'assets/js/jquery.waypoints.min.js',
        'assets/js/jquery.mCustomScrollbar.concat.min.js',
        'assets/js/lightslider.min.js',
        'assets/js/owl.carousel.js',
        'assets/js/scripts.js'
    ]|theme }}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        
    </script>
    {% framework extras %}
    {% scripts %}

</body>
</html>