description = "Tulip Homepage Layout"

[staticPage]
useContent = 1
default = 0

[localePicker]
forceUrl = 1

[staticMenu]
code = "main-menu"

[Agent]
==
{% partial 'site/head' %}



<!-- Wrapper -->

<div class="wrapper">

    

    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}

    

    <!-- Content -->

    <div class="content">



         <!-- Intro -->

         <!-- Section Home Intro -->

        <!-- 

        {richeditor name="titleintro" label="Title Intro" placeholder="Type title" tab="Intro"}{/richeditor}

        {mediafinder name="bgIntro" label="Background Image Intro" placeholder="Insert a background image for intro " mode="image" tab="Intro"}{/mediafinder}

        {mediafinder name="bgintromobile" label="Background Image Intro Mobile" placeholder="Insert a background image mobile for intro" mode="image" tab="Intro"}{/mediafinder}

         

        -->

        {% if Agent.isMobile() %}

        <div class="section-intro" id="intro" style="background: url({{ bgintromobile|media }})no-repeat center center; background-size: cover; width: 100%; height: 100%;">

        {% else %}

        <div class="section-intro" id="intro" style="background-image: url('{{ url(bgIntro|media) }}">

        {% endif %}

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-12">

                      <h2 class="intro-title">{{ titleintro|raw }}</h2>

                    </div>

                </div>

            </div>

        </div>

        <!-- End Section Home Intro-->

        

         <!-- Section What We Do -->

           <!-- 

        {text name="titlewhatwedo" label="Title Whatwedo" placeholder="Type title" tab="Whatwedo"}{/text}

        {mediafinder name="bgWhatwedo" label="Background Image Whatwedo" placeholder="Insert a bacgkround image whatwedo" mode="image" tab="Whatwedo"}{/mediafinder}

        {mediafinder name="bgWhatwedoMobile" label="Background Image Whatwedo Mobile" placeholder="Insert a background image mobile for Whatwedo" mode="image" tab="Whatwedo"}{/mediafinder}

        {richeditor name="descwhatwedo" label="Description Whatwedo" tab="Whatwedo"}{/richeditor}

        -->

       {% if Agent.isMobile() %}

            <div class="section-whatwedo" id="whatwedo" style="background-image: url('{{ url(bgWhatwedoMobile|media) }}'); background-repeat: no-repeat center center; background-size: cover; width: 100%; height: 100%;">

        {% else %}

            <div class="section-whatwedo" id="whatwedo" style="background-image: url('{{ url(bgWhatwedo|media) }}')">

        {% endif %}
            <div class="container">

                <div class="row">

                    <div class="col col-sm-12 col-md-7 col-lg-7">

                      <h2 class="whatwedo-title">{{ titlewhatwedo }}</h2>

                      <div>

                    	{{ descwhatwedo|raw }}

                        </div>

                    </div>

                </div>

            </div>

        </div>

       <!--  End Section What We Do -->

   
        <!-- Section Our Products -->

        

        <section id="section-product">

            <div class="section-product" id="section-product"> 

                <div class="responsive bg-margin">

                    <div class="gallery">

                        <a target="_blank" href="{{ 'products-couvertureseries'|staticPage }}">

                            {% if Agent.isMobile() %}

                            <img src="{{ productImageMobile1|media }}" alt="Couverture Series" class="img-fluid" class="image-product" style="width: 400px; height: 600px;">

                            {% else %}

                            <img src="{{ productImage1|media }}" alt="Couverture Series" class="img-fluid" class="image-product">

                            {% endif %}

                        </a>

                        <div class="title-block">

                            <h2>{{ ourproductsHeading }}</h2>

                        </div>

                        <div class="text-block">

                            <h3>{{ ourproductsTitle1|raw }}</h3>

                        </div>

                    </div>

                </div>



                <div class="responsive bg-margin">

                    <div class="gallery">

                        <a target="_blank" href="{{ 'products-compoundseries'|staticPage }}">

                            {% if Agent.isMobile() %}

                            <img src="{{ productImageMobile2|media }}" alt="Compound Series" class="img-fluid" class="image-product"  style="width: 400px; height: 600px;">

                            {% else %}

                            <img src="{{ productImage2|media }}" alt="Compound Series" class="img-fluid" class="image-product">

                            {% endif %}

                        </a>

                        <div class="text-block">

                            <h3>{{ ourproductsTitle2|raw }}</h3>

                        </div>

                    </div>

                </div>



                <div class="responsive bg-margin">

                    <div class="gallery">

                        <a target="_blank" href="{{ 'products-bakerseriesaccessories'|staticPage }}">

                             {% if Agent.isMobile() %}

                             <img src="{{ productImageMobile3|media }}" alt="Baker Series & Accessories" class="img-fluid" class="image-product"  style="width: 400px; height: 600px;">

                             {% else %}

                             <img src="{{ productImage3|media }}" alt="Baker Series & Accessories" class="img-fluid" class="image-product">

                             {% endif %}

                        </a>

                        <div class="text-block-product3">

                            <h3>{{ ourproductsTitle3|raw }}</h3>

                        </div>

                    </div>

                </div>



            <div class="clearfix"></div>



            </div>

        </section>

        

        

        <!-- Section About Us -->

        {% set bg = sectionaboutBgimage %}

        {% if Agent.isMobile() %}

        <div class="aboutus" id="aboutus" style="background: url({{ sectionaboutBgMobile|media }})no-repeat center center; background-size: cover; width: 100%; height: 100%;">

        {% else %}

        <div class="aboutus" id="aboutus" style="background: url({% if bg == '' %}'https://mdbootstrap.com/img/Photos/Others/images/59.jpg'{% else %}{{ sectionaboutBgimage|media }}{% endif %})

        no-repeat center center; background-size: cover;">

        {% endif %}

        <div class="container"> 

            <div class="row">

                <div class="col col-sm-12 col-md-6 col-lg-6 title-about">

                    <h3>{{ sectionaboutTitle }}</h3>

                    <br>
                 
                    <div id="scrollbar-text">
             
                        <p>{{ sectionaboutContent|raw }}</p>

                    </div>



               </div>

            </div>

        </div>

        </div>



        <!-- Section Bottom Slider -->

        {% partial 'site/home-bottom-slider' %}

        

    </div>

    <!-- End content -->

            

    {% page %}

    

    <!-- Footer -->

  

{% partial 'site/footer' %}

<!-- End wrapper -->



{# Please don't remove, the lines bellow for adding custom field to home page #}



<!-- Intro -->



<!-- Section What We Do -->

{variable name="sectiondoTitle" label="Title" tab="What We Do" type="text"}{/variable}

{variable name="sectiondoContent" label="Content" tab="What We Do" type="richeditor"}{/variable}

{variable name="sectiondoBgimage" label="Background Image" tab="What We Do" type="mediafinder" mode="image"}{/variable}

{variable name="sectiondoBgMobile" label="Background Mobile" tab="What We Do" type="mediafinder" mode="image"}{/variable}





<!-- Section Our Products -->

{variable name="ourproductsHeading" label="Heading Our Products" tab="Our Products" type="text"}{/variable}

{variable name="ourproductsTitle1" label="Title Product 1" tab="Our Products" type="richeditor"}{/variable}

{variable name="productImage1" label="Product Image 1" tab="Our Products" type="mediafinder" mode="image"}{/variable}

{variable name="productImageMobile1" label="Product Image Mobile 1" tab="Our Products" type="mediafinder" mode="image"}{/variable}

{variable name="ourproductsTitle2" label="Title Product 2" tab="Our Products" type="richeditor"}{/variable}

{variable name="productImage2" label="Product Image 2" tab="Our Products" type="mediafinder" mode="image"}{/variable}

{variable name="productImageMobile2" label="Product Image Mobile 2" tab="Our Products" type="mediafinder" mode="image"}{/variable}

{variable name="ourproductsTitle3" label="Title Product 3" tab="Our Products" type="richeditor"}{/variable}

{variable name="productImage3" label="Product Image 3" tab="Our Products" type="mediafinder" mode="image"}{/variable}

{variable name="productImageMobile3" label="Product Image Mobile 3" tab="Our Products" type="mediafinder" mode="image"}{/variable}



<!-- Section About Us -->

{variable name="sectionaboutTitle" label="Title" tab="About Us" type="text"}{/variable}

{variable name="sectionaboutContent" label="Content" tab="About Us" type="richeditor"}{/variable}

{variable name="sectionaboutBgimage" label="Background Image" tab="About Us" type="mediafinder" mode="image"}{/variable}

{variable name="sectionaboutBgMobile" label="Background Mobile" tab="About Us" type="mediafinder" mode="image"}{/variable}



<!-- Section Social Media -->

    {variable name="link1" label="Link 1" tab="Footer" type="text" placeholder="example: https://www.instagram.com/tulipchocolate/ or https://web.facebook.com/tulipchocolate/"}{/variable}

    {variable name="icon1" label="Icon 1" tab="Footer" type="text" placeholder="example: twitter, youtube , facebook"}{/variable}

    {variable name="link2" label="Link 2" tab="Footer" type="text" placeholder="example: https://www.instagram.com/tulipchocolate/ or https://web.facebook.com/tulipchocolate/"}{/variable}

    {variable name="icon2" label="Icon 2" tab="Footer" type="text" placeholder="example: twitter, youtube , facebook"}{/variable}

    {variable name="link3" label="Link 3" tab="Footer" type="text"  placeholder="example: https://www.instagram.com/tulipchocolate/ or https://web.facebook.com/tulipchocolate/"}{/variable}

    {variable name="icon3" label="Icon 3" tab="Footer" type="text" placeholder="example: twitter, youtube , facebook"}{/variable}