description = "Tulip List of Agents Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main-menu"

[localePicker]
forceUrl = 1

[Agent]
==
{% partial 'site/head' %}

<!-- Wrapper -->
<div class="wrapper">
    
    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}

    
    <!-- Content -->
    <div class="content">

        <!-- list of Agents -->
        {% set bg = bgImage %}
        
        {variable name="listagentsTitle" label="Title" tab="List Of Agents" type="text"}{/variable}
        {repeater name="sections" tab="List Of Agents" prompt="Add a section"}
        {variable name="title" type="text" span="left"}{/variable}
        {variable name="content" type="richeditor"}{/variable}
        {/repeater}
        {variable name="bgImage" label="Background Image" tab="List Of Agents" type="mediafinder" mode="image"}{/variable}
        <div class="listagents" id="listagents" style="background: url({% if bg == '' %}'https://mdbootstrap.com/img/Photos/Others/images/59.jpg'{% else %}{{ bgImage|media }}{% endif %})
        no-repeat center center; background-size: cover;">
             <div class="container text-left">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                        <h3>{{ listagentsTitle }}</h3>
                        {% for section in sections %}
                            <section id="{{ section.title|slug }}">
                                <p>{{ section.title }}</p>
                                {{ section.content|raw }}
                            </section>
                        {% endfor %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <!-- End content -->
            
    {% page %}
    
    {% partial 'site/footer' %}
</div>