description = "Recipes Category Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main-menu"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 8
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "recipes/category"
postPage = "recipes/post"

[localePicker]
forceUrl = 1

[Agent]
==
{% partial 'site/head' %}



<!-- Wrapper -->

<div class="wrapper">

    

    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}


    

    <!-- Content -->

    <div class="content">



        <!-- About Us -->

        {% set bg = bgImage %}

        {variable name="aboutusTitle" label="About Us Title" tab="About Us" type="text"}{/variable}

        {variable name="aboutusInfo" label="About Us Information" tab="About Us" type="richeditor"}{/variable}

        {variable name="bgImage" label="Background Image" tab="About Us" type="mediafinder" mode="image"}{/variable}

        <div class="recipes-category" id="recipes-category">

                    <div class="mt-5">
                            <h2>RECIPES</h2>
                    </div>
                    <div class="container py-5">
                        
                        <div class="row">
                            {% for post in posts %}
                            <article class="col-6 col-sm-6 col-md-3">
                                <div class="card border-0" id="card-recipes">
                                {% set image = post.featured_images.first %}
                                {% if post.featured_images.count > 0 %}
                                    {% if Agent.isMobile() %}
                                    <a href="{{ post.url }}"><img class="card-img-top img-fluid" data-src="{{ image.filename }}" src="{{ image.path }}"
                                                alt="{{ image.description }}" style="width: 120px; height: 100px;"></a>
                                    {% else %}
                                    <a href="{{ post.url }}"><img class="card-img-top img-fluid" data-src="{{ image.filename }}" src="{{ image.path }}"
                                                alt="{{ image.description }}" style="height: 200px;"></a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ post.url }}"><img class="card-img-top img-fluid" src="{{ 'assets/img/logo-freyabadi.png'|theme }}"
                                                alt="" style="height: 200px;"></a>
                                {% endif %}
                                </div>
                                <header>
                                    <h4 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
                                </header>
                                    <p class="excerpt">{{ post.excerpt|raw }}</p>              
                            </article>
                            {% endfor %}
                        </div>
                    <br>
                    <br>
                    <br>
                    <div class="container pagination-article">
                        <div class="row">
                        {% if posts.lastPage > 1 %}
                                <ul class="pagination">
                                    <li>
                                        {% if posts.currentPage > 1 %}
                                            <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}"></a></li>
                                    
                                        {% endif %}
                                    </li>

                                    {% for page in 1..posts.lastPage %}
                                        <li class="{{ posts.currentPage == page ? 'active' : null }}">
                                            <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}"><bold>{{ page }}</bold></a>
                                        </li>
                                    {% endfor %}

                                    <li>
                                        {% if posts.lastPage > posts.currentPage %}
                                            <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">...</a></li>
                                        {% endif %}
                                    </li>
                                </ul>
                        {% endif %}
                        </div>
                    </div>




                        </div>

    

                   </div>

                </div>

            </div>

        </div>

            

      

    </div>

    <!-- End content -->

            

    {% page %}

    

    {% partial 'site/footer' %}

</div>