description = "Recipes Post Detail Layout"

[blogPost]
slug = "{{ :slug }}"
categoryPage = "recipes/category"

[Agent]

[localePicker]
forceUrl = 1
==
{% partial 'site/head' %}



<!-- Wrapper -->

<div class="wrapper">

    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}

    <!-- Content -->
    <div class="content"
    
        <!-- About Us -->

        <div class="article-detail" id="article-detail">
        {% if Agent.isMobile() %}
        <div>
        {% else %}
        <div class="container">
        {% endif %}
            <div class="row">
                {% if Agent.isMobile() %}
                <div class="card col">
                {% else %}
                <div class="col">
                {% endif %}
                       {% if post.featured_images.count %}

                            <div class="featured-images text-center">

                                {% for image in post.featured_images %}

                                    <p>
                                
                                        <img

                                            data-src="{{ image.filename }}"

                                            src="{{ image.path }}"

                                            alt="{{ image.description }}"

                                        />

                                    </p>

                                {% endfor %}

                            </div>

                      {% endif %}
                      {% if Agent.isMobile() %}
                      <div class="container">
                      {% else %}
                      <div>
                      {% endif %}
                      {% if post %}
                     
                      <h2>{{ post.title }}</h2>

                      {% set post = blogPost.post %}



                        <div class="content">{{ post.content_html|raw }}</div>

                        

                       

                        

                        <p class="info">

                            Posted

                            {% if post.categories.count %} in

                                {% for category in post.categories %}

                                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}

                                {% endfor %}

                            {% endif %}

                            on {{ post.published_at|date('M d, Y') }}

                        </p>



                      {% else %}

                      <h2>Post not found</h2>

                      {% endif %}
                      </div>
               </div>

            </div>
        
        </div>
        <!-- End Container -->

        </div>

            

      

    </div>

    <!-- End content -->            

    {% page %}

    

    {% partial 'site/footer' %}

</div>