description = "Training Layout"

[staticPage]
useContent = 1
default = 0

[staticMenu]
code = "main-menu"

[localePicker]
forceUrl = 1

[Agent]
==
{% partial 'site/head' %}

<!-- Wrapper -->
<div class="wrapper">
    
    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}

    
    <!-- Content -->
    <div class="content">

        <!-- Training -->
        {% set bg = bgImage %}
        {variable name="trainingTitle" label="Training Title" tab="Training" type="text"}{/variable}
        {variable name="trainingInfo" label="Information" tab="Training" type="richeditor"}{/variable}
        {variable name="chocolateschoolImage" label="Chocolate School Image" tab="Training" type="mediafinder" mode="image"}{/variable}
        {variable name="chocolateschoolInfo" label="Chocolate School Info" tab="Training" type="richeditor"}{/variable}
        {variable name="bgImage" label="Background Image" tab="Training" type="mediafinder" mode="image"}{/variable}
        <div class="training" id="training" style="background: url({% if bg == '' %}'https://mdbootstrap.com/img/Photos/Others/images/59.jpg'{% else %}{{ bgImage|media }}{% endif %})
        no-repeat center center; background-size: cover;">
             <div class="container text-left">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                      <h3><strong>{{ trainingTitle|raw }}</strong></h3>
                                <p class="">{{ trainingInfo|raw }}</p>
                                <img src="{{ chocolateschoolImage|media }}" width="100px">
                                <p class="">{{ chocolateschoolInfo|raw }}</p>
                                <br>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <!-- End content -->
            
    {% page %}
    
    {% partial 'site/footer' %}
</div>