description = "What We Do Layout"

[staticPage]
useContent = 1
default = 0

[Agent]

[localePicker]
forceUrl = 1
==
{% partial 'site/head' %}



<!-- Wrapper -->

<div class="wrapper">

    

    {% if Agent.isMobile() %}

    {% partial 'site/primarynav-mobile' %}

    {% else %}

    {% partial 'site/primarynav' %}

    {% endif %}

    

    <!-- Content -->

    <div class="content">

      <!-- Section Tulip Training -->

        <!-- 

        {text name="titletraining" label="Title Training" placeholder="Type title" tab="Training"}{/text}

        {mediafinder name="bgTraining" label="Background Image Training" placeholder="Insert a background image for training " mode="image" tab="Training"}{/mediafinder}

        {mediafinder name="bgTrainingMobile" label="Background Image Training Mobile" placeholder="Insert a background image mobile for training" mode="image" tab="Training"}{/mediafinder}

        {richeditor name="desctraining" label="Description Training" tab="Training"}{/richeditor}

         {variable name="chocolateschoolPicture" label="Chocolate School Picture" tab="Training" type="mediafinder" mode="image"}{/variable}

        {variable name="chocolateschoolContent" label="Chocolate School Content" tab="Training" type="richeditor"}{/variable}

        -->



           {% if Agent.isMobile() %}

                <div class="section-training" id="training" style="background: url({{bgTrainingMobile|media}})no-repeat top center; width: 100%; height: auto;">

            {% else %}

                <div class="section-training" id="training" style="background: url({{bgTraining|media}})no-repeat center center; width: 100%; height: auto;">

            {% endif %}

            <div class="container-fluid">

                <div class="row">

                    <div class="col col-sm-12 col-md-7 col-lg-7">

                      <h2 class="training-title">{{ titletraining }}</h2>

                      <div>

                    	{{ desctraining|raw }}

                    	<div id="chocolateschool" name="#chocolateschool">

                                <img src="{{ chocolateschoolPicture|media }}" width="200px" border="1px">

                                <br>

                                <br>

                                <br>

                                <p class="">{{ chocolateschoolContent|raw }}</p>

                                <br>

                        </div>

                      </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- End Section Tulip Training-->

        

        

        <!-- Section Tulip Councelor -->

        <!-- 

        {text name="titlecouncelor" label="Title Councelor" placeholder="Type title" tab="Councelor"}{/text}

        {mediafinder name="bgCouncelor" label="Background Image Councelor" placeholder="Insert a bacgkround image councelor" mode="image" tab="Councelor"}{/mediafinder}

        {mediafinder name="bgCouncelorMobile" label="Background Image Councelor Mobile" placeholder="Insert a background image for Councelor" mode="image" tab="Councelor"}{/mediafinder}

        {richeditor name="desccouncelor" label="Description Councelor" tab="Councelor"}{/richeditor}

        -->

        {% if Agent.isMobile() %}

            <div class="section-councelor" id="councelor" style="background: url({{bgCouncelorMobile|media}})no-repeat top center; width: 100%; height: auto;">

        {% else %}

            <div class="section-councelor" id="councelor" style="background: url({{bgCouncelor|media}})no-repeat center center; width: 100%; height: auto;">

        {% endif %}

            <div class="container-fluid">

                <div class="row">

                    <div class="col col-sm-12 col-md-7 col-lg-7">

                      <h2 class="councelor-title">{{ titlecouncelor }}</h2>

                      <div>

                    	{{ desccouncelor|raw }}

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- End Section Tulip Councelor -->

        

        <!-- Section Tulip List Of Distributor -->

        <!-- 

        {text name="titlelistdistributor" label="Title List Of Distributor" placeholder="Type title" tab="List Of Distributor"}{/text}

        {mediafinder name="bgListdistributor" label="Background Image List Of Distributor" placeholder="Insert a background imaage for List Of Distributor" mode="image" tab="List Of Distributor"}{/mediafinder}

        {mediafinder name="bgListdistributorMobile" label="Background Image List Of Distributor Mobile" placeholder="Insert a background image for List Of Distributor" mode="image" tab="List Of Distributor"}{/mediafinder}

        {richeditor name="desclistdistributor" label="Description List Of Distributor" tab="List Of Distributor"}{/richeditor}

        

        {repeater name="sections" tab="List Of Distributor" prompt="Add a section"}

            {variable name="heading" type="text" span="left"}{/variable}

            {variable name="content" type="richeditor"}{/variable}

        {/repeater}

        -->

        {% if Agent.isMobile() %}

            <div class="section-listdistributor" id="listdistributor" style="background: url({{ bgListdistributorMobile|media }})no-repeat top center; width: 100%; height: auto;">

        {% else %}

            <div class="section-listdistributor" id="listdistributor" style="background: url({{ bgListdistributor|media }})no-repeat fixed center; width: 100%; height: auto;">

        {% endif %}
        <h2 class="listdistributor-title">{{ titlelistdistributor }}</h2>
            <div class="grid-container">
                <div class="grid-item"><p>SUMATERA UTARA</p><br>
                <p>PT. PERMATA NIAGA</p>
                <address>Jl. Platina No. 2 KIM I - Mabar<br>
                Medan 20242<br>
                (061) 6858688<br>
                (061) 6852188<br>
                (061) 76872938</address>
                </div>
                <div class="grid-item"><p>SUMATERA BARAT</p><br>
                <p>PT. BERINGIN TANGGUH KEKAL ABADI</p>
                <address>Jl. Pasar Baru Komplek Pertokoan<br>
                Ex- Adabiah No.A-11<br>
                Padang Barat - Padang
                </address>
                </div>
                <div class="grid-item"><p>RIAU</p><br>
                <p>CV. Sinar Surya Abadi</p>
                <address>Jl. Prof Moh Yamin<br>
                SH No. 88-88A<br>
                Pekanbaru 28151 – Riau<br>
                (0761) 33066<br>
                (0761) 31588<br>
                (0761) 31580<br></address>
                </div>  
                <div class="grid-item"><p>KEPULAUAN RIAU<p><br>
                <p>PT. EKAPUTRA DINATA UTAMA</p>
                <address>Komplek pergudangan Mega Jaya Industri<br>
                Blok B 16 , Baloi Permai - Batam center<br>
                Kepulauan Riau 29431<br>
                0812 6882 8884<br>
                0822 8338 1532</address>
                </div>
                <div class="grid-item"><p>JAMBI</p><br>
                <p>FIRMA DANA</p>
                <address>Jl. Lintas Jambi Palembang KM 11 RT 26<br>
                Kel.Pondok Meja Kec.mestong<br>
                Kab.Muaro Jambi<br>
                Jambi - 36364<br>
                (0741) 3608739</address>
                </div>
                <div class="grid-item"><p>BENGKULU</p><br>
                <p>PT. EVERBRIGHT - BENGKULU</p><br>
                <address>Jl. Bhakti Husada No. 04 RT.01 RW.01<br>
                Kel. Lingkar Barat - Kec. Gading Cempaka<br>
                Bengkulu - 38221<br>
                (0736) 7342918</address>
                </div>  
                <div class="grid-item"><p>SUMATERA SELATAN</p><br>
                <p>PT. EVERBRIGHT - PALEMBANG</p><br>
                <address>Jl. RE. Martadinata No. 1188<br>
                RT 02 RW 01  Kel. Kalidoni<br>
                Palembang 30118<br>
                (0711) 721457<br>
                (0711) 721458
                </div>
                <div class="grid-item"><p>LAMPUNG</p><br>
                <p>PT. SINAR PARAMITA NIAGA</p><br>
                <address>JL. Padat Karya No. 9 Kel. Labuhan Dalam<br>
                Kec. Tanjung Senang<br>
                Bandar Lampung 35142<br>
                (0721) 8014474
                </div>
                <div class="grid-item"><p>JAWA BARAT</p><br>
                <p>PT. CITRA BHOGA JAYA<p><br>
                <address>Jl. Batununggal Indah Raya No.27, Batununggal,<br>
                Kec. Bandung Kidul, Kota Bandung, Jawa Barat 40267<br>
                (022) 7506808
                </address>
                <p>PT. KIJANG MAS INTI</p>
                <address>JL. Hariang Banga No. 6<br>
                Bandung<br>
                (022) 20525077<br>
                (022) 4212603<br>
                (022) 4212603
                </address>
                </div>
                <div class="grid-item"><p>JAWA TENGAH</p><br>
                <p>CV. SINNAR LUCIANA JAYA</p><br>
                <address>Jl. Gatot Subroto, Kawasan Industri Candi Blok 20 No. 3B<br>
                Purwoyoso, Ngaliyan, Semarang<br>
                (024) 3551551<br>
                (024) 3561561</address>
                </div>  
                <div class="grid-item"><p>JAWA TIMUR</p><br>
                <p>PT. HAKIKI DONARTA</p><br>
                <address>JL. Sikatan No. 39<br>
                Surabaya<br>
                (031) 3551221</address>
                </div>  
                <div class="grid-item"><p>BALI</p><br>
                <p>PT. NIRWANA LESTARI-DENPASAR</p><br>
                <address>JL. Cargo Permai I No. 188<br>
                Denpasar – Bali<br>
                (0361) 430838<br>
                (0361) 430839</address>
                </div>  
                <div class="grid-item"><p>KALIMANTAN BARAT</p><br>
                <p>PT. SAHABAT HARAPAN BERSAMA</p><br>
                <address>JL. Tanjung Pura No. 188-190<br>
                Pontianak – Kalimantan Barat<br>
                (0561) 738812<br>
                (0561) 734104</address>
                </div>  
                <div class="grid-item"><p>KALIMANTAN SELATAN<p><br>
                <p>PT. PULAU BARU JAYA<p><br>
                <address>JL. A. Yani Km.5,6 No. 56 RT.3<br>
                Banjarmasin<br>
                </div>  
                <div class="grid-item"><p>KALIMANTAN TIMUR</p><br>
                <p>PT. CITRA SURYA PRATAMA</p>
                <address>JL. Pandansari Rt.24 No. 5<br>
                Kel. Margasari – Balikpapan<br>
                (0542) 422190<br>
                (0542) 421087</address>
                <p>PT. PULAU BARU MANDIRI</p>
                <address>Loa Bakung, Sungai Kunjang, Loa Bakung, Kec. Sungai Kunjang,<br>
                 Kota Samarinda, Kalimantan Timur 75243<br></address>
                </div>
                <div class="grid-item"><p>SULAWESI SELATAN & sekitarnya</p><br>
                <p>PT. FAJAR LESTARI ABADI - MAKASSAR</p><br>
                <address>JL. Kima 4 Kav. M-2<br>
                Makassar 9000<br>
                (0411) 514340<br>
                (0411) 514342</address>
                </div>  
                <div class="grid-item"><p>SULAWESI UTARA, GORONTALO & sekitarnya</p><br>
                <p>PT. FAJAR LESTARI ABADI - MANADO</p>
                <address>JL. Yos Sudarso XII/12<br>
                Manado<br>
                (0431) 860328</address>
                </div>  
                <div class="grid-item"><p>PAPUA<p><br>
                <p>CV. MAJU MAKMUR - JAYAPURA</p>
                <address>JL. Sam Ratulangi Dok.2<br>
                Jayapura<br>
                (0951) 338686<br>
                (0951) 324962</address>
                <p>CV. SENTOSA ABADI - SORONG</p><br>
                <address>JL. Jendral Sudirman No.39<br>
                Sorong – Papua<br>
                (021) 6694133<br>
                (021) 6692136
                </div>    
            </div>



            <!-- <h2 class="visi-title">{{ titlelistdistributor }}</h2>
            <div class="container-fluid py-5">
                <div class="row">         
                    	{% for section in sections %}
                            <article class="col-6 col-md-4 col-lg-4">
                                <div >
                                    <section class="card border-0 mb-2"  id="{{ section.heading|slug }}">

                                        <p>{{ section.heading }}</p>

                                        {{ section.content|raw }}

                                    </section>
                                </div>
                            </article>
                        {% endfor %}
                </div>

            </div>-->

        </div>

        <!-- End Section Tulip List Of Distributor -->

    </div>

    <!-- End content -->

            

    {% page %}

    

    {% partial 'site/footer' %}

</div>