
    <style type="text/css">
        .post-list{
            padding: ;
        }
        ul {
            margin-left: ;
        }
    </style>

{% set posts = __SELF__.posts %}
<div class="container">
    <div class="row">
        <ul class="post-list">
            {% for post in posts %}
            
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

                    <p class="info">
                        {% if post.categories.count %} in {% endif %}
                        {% for category in post.categories %}
                            <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>

                    <p class="excerpt">{{ post.summary|raw }}</p>
                
            {% else %}
                <li class="no-data">{{ __SELF__.noPostsMessage }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<br>
<br>
<br>
<div class="container pagination-article">
    <div class="row">
    {% if posts.lastPage > 1 %}
            <ul class="pagination">
                <li>
                    {% if posts.currentPage > 1 %}
                        <li><a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage-1) }) }}"></a></li>
                
                    {% endif %}
                </li>

                {% for page in 1..posts.lastPage %}
                    <li class="{{ posts.currentPage == page ? 'active' : null }}">
                        <a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): page }) }}"><bold>{{ page }}</bold></a>
                    </li>
                {% endfor %}

                <li>
                    {% if posts.lastPage > posts.currentPage %}
                        <li><a href="{{ this.page.baseFileName|page({ (__SELF__.pageParam): (posts.currentPage+1) }) }}">...</a></li>
                    {% endif %}
                </li>
            </ul>
    {% endif %}
    </div>
</div>


