title = "Blog Category"
url = "/blog/:slug"
description = "Viewing blog posts in specific category"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 1
changefreq = "always"
priority = 0.1

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 1
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "article-tulip-chocolate-1581503401"
==
<div class="row">
    <div class="col-sm-8">
        {% component 'blogPosts' %}
    </div>
 
</div>