description = "Default Slider"
==
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for slider in sliders %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ _key }}" class{% if _key < 1 %}="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% for slider in sliders %}
        <div class="carousel-item {% if _key < 1 %}active{% endif %}" style="background-image: url('{{ url(slider.image|media) }}">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</header>