description = "Head"

[viewBag]

[localePicker]
forceUrl = 1
==
<html lang="en">
<head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <title>{{ this.page.title }}</title>
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="{{'assets/img/favicon.ico'|theme }}" type="image/x-icon">
    <link rel="icon" href="{{'assets/img/favicon.ico'|theme }}" type="image/x-icon"> -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{'assets/img/favicon/apple-icon-57x57.png'|theme}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{'assets/img/favicon/apple-icon-60x60.png'|theme}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{'assets/img/favicon/apple-icon-72x72.png'|theme}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{'assets/img/favicon/apple-icon-76x76.png'|theme}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{'assets/img/favicon/apple-icon-114x114.png'|theme}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{'assets/img/favicon/apple-icon-120x120.png'|theme}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{'assets/img/favicon/apple-icon-144x144.png'|theme}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{'assets/img/favicon/apple-icon-152x152.png'|theme}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{'assets/img/favicon/apple-icon-180x180.png'|theme}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{'assets/img/favicon/android-icon-192x192.png'|theme}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'assets/img/favicon/favicon-32x32.png'|theme}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{'assets/img/favicon/favicon-96x96.png'|theme}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'assets/img/favicon/favicon-16x16.png'|theme}}">
    <link rel="manifest" href="{{'assets/img/favicon/manifest.json'|theme}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{'assets/img/favicon/ms-icon-144x144.png'|theme}}">
    <meta name="theme-color" content="#ffffff">
    <!-- CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="{{ [
        'assets/css/jquery.mCustomScrollbar.min.css',
        'assets/css/media-queries.css',
        'assets/css/owl.carousel.min.css',
        'assets/css/fontawesome.css',
        'assets/css/style.less',
        'assets/css/style.scss',
        'assets/css/style.css',
        'assets/css/slick.css',
        'assets/css/slick-theme.css'
    ]|theme }}" rel="stylesheet">
    
    {% styles %}
</head>
<body>