description = "Main Navigation"

[viewBag]

[staticMenuMultilingual]
code = "mainmenu"

[localePicker]
forceUrl = 1
==
<!-- Sidebar -->
<nav class="sidebar">
	
	<!-- close sidebar menu -->
	<div class="dismiss">
		<i class="fas fa-times"></i>
	</div>
	    
    <div class="logo">
        <div class="container text-center">
        <img src="{{ 'assets/img/tulip_logo.png'|theme }}" class="sidebar-logo" alt="tulip chocolate">
        <br>
        <br>
        <p>MAIN MENU</p>
        </div>
	</div>
	
    <!-- menu -->
    
	{% if staticMenu.menuItems %}
    {% set items = staticMenu.menuItems %}
	<ul class="list-unstyled menu-elements">
        {% for item in items %}
            <li>
                <a class="{% if item.items %}'dropdown-toggle' {% endif %}"
                        {% if item.items %} data-toggle="collapse" aria-expanded="false" role="button" aria-controls="otherSections"{% endif %}
                   href="#{{ item.title|replace({' ':'-'}) }}">
                    {{ item.title }}
                </a>
                {% if item.items %}
                    <ul class="collapse list-unstyled" id="{{ item.title|replace({' ':'-'}) }}">
                        {% for child in item.items %}
        				<li>
        					<a href="{{ child.url }}">{{ child.title }}</a>
        				</li>
        				{% endfor %}
        			
        			</ul>
                {% endif %}
            </li>
        {% endfor %}
	</ul>
    {% endif %}
    
</nav>
<!-- End sidebar -->

<!-- Dark overlay -->
<div class="overlay"></div>

<!-- open sidebar menu -->
<div class="float-menu">
    <a class="btn menu-bar open-menu" href="#" role="button">
        <i class="fa fa-bars"> </i>
        <p>MENU</p>
    </a>
    <a class="btn menu-logo" href="/" role="button">
        <img src="{{ 'assets/img/tulip_logo.png'|theme }}" class="menu-icon main-menu" alt="tulip chocolate">
    </a>
</div>
<!-- <a class="btn btn-primary btn-customized open-menu" href="#" role="button">
    <i class="fa fa-bars"> </i> <img src="{{ 'assets/img/tulip_logo.png'|theme }}" class="menu-icon" alt="tulip icon">
</a> -->

<!-- Menu Bahasa -->
<nav class="nav-lang">  
    <p>
        <a href="" data-request="onSwitchLocale" data-request-data="locale: 'id'">INDONESIA</a> | 
        <a href="" data-request="onSwitchLocale" data-request-data="locale: 'en'">ENGLISH</a>
    </p>
</nav>
