description = "Primary Navigation Mobile"

[viewBag]
==
<!-- Sidebar -->

<nav class="sidebar">

	

	<!-- close sidebar menu -->

    <div class="dismiss">

        <i class="fa fa-times"></i>

	</div>

	    

    <div class="logo">

        <div class="container text-center">

        <img src="{{ 'assets/img/tulip_logo.png'|theme }}" class="sidebar-logo" alt="tulip chocolate">

        <br>

        <br>

        <p>{{'MAIN MENU'|_}}</p>

        </div>

	  </div>

	

	<!-- menu -->

  <ul class="menu-elements">

    <li class="dropdown">

      <input type="checkbox" />

      <a class="heading-sidemenu" href="#" data-toggle="dropdown">{{'WHAT WE DO'|_}}</a>

      <ul class="dropdown-menu">

        <li><a href="{{ 'whatwedo'|staticPage }}#training"><img src="{{ 'assets/img/training_icon.png'|theme }}" alt="tulip training">{{'TRAINING'|_}}</a></li>

        <li><a href="{{ 'whatwedo'|staticPage }}#chocolateschool"><img src="{{ 'assets/img/chocolateschool_icon.png'|theme }}" alt="tulip chocolateschool">{{'CHOCOLATE SCHOOL'|_}}</a></li>

        <li><a href="{{ 'whatwedo'|staticPage }}#councelor"><img src="{{ 'assets/img/tulipcouncelor_icon.png'|theme }}" alt="tulip councelor">{{'TULIP COUNCELOR'|_}}</a></li>

        <li><a href="{{ 'whatwedo'|staticPage }}#listdistributor"><img src="{{ 'assets/img/tuliplistagents_icon.png'|theme }}" alt="tulip list of agents">{{'TULIP LIST OF DISTRIBUTOR'|_}}</a></li>
 
      </ul>

    </li>

    <li class="dropdown">

      <input type="checkbox" />

      <a class="heading-sidemenu" href="#" data-toggle="dropdown">{{'PRODUCTS'|_}}</a>

      <ul class="dropdown-menu">

        <li><a href="{{ 'products-couvertureseries'|staticPage }}"><img src="{{ 'assets/img/couvertureseries_icon.png'|theme }}" alt="couverture series">{{'COUVERTURE SERIES'|_}}</a></li>

        <li><a href="{{ 'products-compoundseries'|staticPage }}"><img src="{{ 'assets/img/compoundseries_icon.png'|theme }}" alt="compound series">{{'COMPOUND SERIES'|_}}</a></li>

        <li><a href="{{ 'products-bakerseriesaccessories'|staticPage }}"><img src="{{ 'assets/img/bakerseries_icon.png'|theme }}" alt="baker series">{{'BAKER SERIES & ACCESSORIES'|_}}</a></li>

      </ul>

    </li>

    <li>

      <a class="heading-sidemenu" href="{{ 'aboutus'|staticPage }}">{{'ABOUT US'|_}}</a>

    </li>

     <li class="dropdown">

      <input type="checkbox" />

      <a class="heading-sidemenu" href="#" data-toggle="dropdown">{{'UPDATES'|_}}</a>

      <ul class="dropdown-menu">

        <li><a href="{{ '/updates/category/articles'|app }}"><img src="{{ 'assets/img/article_icon.png'|theme }}" alt="article">{{'ARTICLE'|_}}</a></li>

        <li><a href="{{ '/updates/category/recipes'|app }}"><img src="{{ 'assets/img/recipes_icon.png'|theme }}" alt="recipes">{{'RECIPES'|_}}</a></li>

      </ul>

    </li>

    <li>

      <a class="heading-sidemenu" href="{{ 'contact-us'|staticPage }}">{{'CONTACT US'|_}}</a>

    </li>

  </ul>

    

</nav>

<!-- End sidebar -->



<!-- Dark overlay -->

<div class="overlay"></div>



<!-- open sidebar menu -->

<div class="float-menu-mobile">

    <a class="btn menu-logo-mobile" href="/" role="button">

        <img src="{{ 'assets/img/tulip_logo.png'|theme }}" class="menu-icon main-menu" alt="tulip chocolate">

    </a>

</div>

<div class="nav-lang">

        <a href="" data-request="onSwitchLocale" data-request-data="locale: 'id'"><img src="{{ 'assets/img/indonesia_flag.png'|theme }}"></a> | 

    <a href="" data-request="onSwitchLocale" data-request-data="locale: 'en'"><img src="{{ 'assets/img/english_flag.png'|theme }}"></a>

</div>

<!-- <a class="btn btn-primary btn-customized open-menu" href="#" role="button">

    <i class="fa fa-bars"> </i> <img src="{{ 'assets/img/tulip_logo.png'|theme }}" class="menu-icon" alt="tulip icon">

</a> -->



<!-- Menu Bahasa -->

<nav class="nav-menu">

    <a class="btn menu-bar-mobile open-menu" href="#" role="button">

        <i class="fa fa-bars"> </i>

        <p>MENU</p>

     </a>

</nav>