description = "Home Slider"
==
<!-- Slider -->
    <div class="top-content" id="top-content">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for slider in sliders %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ _key }}" class{% if _key < 1 %}="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for slider in sliders %}
                    <div class="carousel-item {% if _key < 1 %}active{% endif %}">
                        <img id="slide-{{ _key }}" src="{{ url(slider.image|media) }}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>