[viewBag]
title = "About Us | Tulip Chocolate"
url = "/about-us"
layout = "about-layout"
is_hidden = 0
navigation_hidden = 0
aboutusTitle = "ABOUT US"
aboutusInfo = "<p style=\"text-align: left;\"><strong>Tulip is highly visible and involved in the world of</strong></p>

<p style=\"text-align: left;\"><strong>chocolateering. An innovate range of year round</strong></p>

<p style=\"text-align: left;\"><strong>services are offered by a highly proffesional and</strong></p>

<p style=\"text-align: left;\"><strong>experienced staff including our own panel of five</strong></p>

<p style=\"text-align: left;\"><strong>star chefs.</strong></p>

<p style=\"text-align: left;\">
	<br>
</p>

<p style=\"text-align: left;\">Tulip Chocolate is a brand owned and manufactured</p>

<p style=\"text-align: left;\">by FreyAbadi Indotama, a partnership of world leaders</p>

<p style=\"text-align: left;\">in Food Ingredient products and services. FreyAbadi</p>

<p style=\"text-align: left;\">also partnership of Fuji Oil Japan, the world's largest</p>

<p style=\"text-align: left;\">producer of edible fats, McKeeson Investments,</p>

<p style=\"text-align: left;\">Singapore, the investment arm of Petra Foods and</p>

<p style=\"text-align: left;\">
	<br>
</p>

<p style=\"text-align: left;\"><strong>Lorem Ipsum</strong> is simply dummy text of the printing&nbsp;</p>

<p style=\"text-align: left;\">and typesetting industry. Lorem Ipsum has been the&nbsp;</p>

<p style=\"text-align: left;\">industry's standard dummy text ever since the 1500s,</p>

<p style=\"text-align: left;\">when an unknown printer took a galley of type and&nbsp;</p>

<p style=\"text-align: left;\">scrambled it to make a type specimen book. It has&nbsp;</p>

<p style=\"text-align: left;\">survived not only five centuries, but also the leap into</p>

<p style=\"text-align: left;\">&nbsp;electronic typesetting, remaining essentially unchanged.&nbsp;</p>

<p style=\"text-align: left;\">It was popularised in the 1960s with the release of Letraset</p>

<p style=\"text-align: left;\">&nbsp;sheets containing Lorem Ipsum passages, and more recently&nbsp;</p>

<p style=\"text-align: left;\">with desktop publishing software like Aldus PageMaker</p>

<p style=\"text-align: left;\">&nbsp;including versions of Lorem Ipsum.</p>"
bgAbout = "/home/about-home.jpg"
bgaboutMobile = "/home/mobile/about-home-mobile.jpg"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1
localeUrl[id] = "/tentang-kami"
==