[viewBag]
title = "Home - Tulip Chocolate"
url = "/"
layout = "homepage-layout"
is_hidden = 0
navigation_hidden = 0
titleintro = "<p>Consistency a taste</p>

<p>across generations</p>"
bgIntro = "/home/Intro.jpg"
bgintromobile = "/home/mobile/Intro-home-mobile.jpg"
titlewhatwedo = "WHAT WE DO"
bgWhatwedo = "/home/whatwedo-home.jpg"
bgWhatwedoMobile = "/home/mobile/whatwedo-mobile.jpg"
descwhatwedo = "<p>Everything we do is about our customers.</p>

<p>The continued success of our customer's business is</p>

<p>our priority.</p>

<p>We ensure to always provide the best quality products</p>

<p>through a proffesional production system, strict quality</p>

<p>control, trusted food safety standards, and the use of&nbsp;</p>

<p>the latest technology.</p>"
sectiondoTitle = "WHAT WE DO"
sectiondoContent = "<p style=\"text-align: left;\">Everything we do is about our customers.</p>

<p style=\"text-align: left;\">The continued success of our customer's business is</p>

<p style=\"text-align: left;\">our priority.</p>

<p style=\"text-align: left;\">We ensure to always provide the best quality products</p>

<p style=\"text-align: left;\">through a proffesional production system, strict quality</p>

<p style=\"text-align: left;\">control, trusted food safety standards, and the use of&nbsp;</p>

<p style=\"text-align: left;\">the latest technology.</p>"
sectiondoBgimage = "/home/whatwedo-home.jpg"
sectiondoBgMobile = "/home/mobile/Whatwedo-mobile.jpg"
ourproductsHeading = "OUR PRODUCTS"
ourproductsTitle1 = "<p>COUVERTURE&nbsp;</p>

<p>SERIES</p>"
productImage1 = "/home/couverture.jpg"
productImageMobile1 = "/home/mobile/couverture-mobile.jpg"
ourproductsTitle2 = "<p>COMPOUND&nbsp;</p>

<p>SERIES</p>"
productImage2 = "/home/compound.jpg"
productImageMobile2 = "/home/mobile/compound-mobile.jpg"
ourproductsTitle3 = "<p>BAKER SERIES&nbsp;</p>

<p>&amp;&nbsp;</p>

<p>ACCESSORIES</p>"
productImage3 = "/home/bakerseries.jpg"
productImageMobile3 = "/home/mobile/bakerseries-mobile.jpg"
sectionaboutTitle = "ABOUT US"
sectionaboutContent = "<p><strong>Tulip is highly visible and involved in the world of</strong></p>

<p><strong>chocolateering. An innovate range of year round</strong></p>

<p><strong>services are offered by a highly proffesional and</strong></p>

<p><strong>experienced staff including our own panel of five</strong></p>

<p><strong>star chefs.</strong></p>

<p style=\"text-align: left;\">Tulip Chocolate is a brand owned and manufactured</p>

<p style=\"text-align: left;\">by FreyAbadi Indotama, a partnership of world leaders</p>

<p style=\"text-align: left;\">in Food Ingredient products and services. FreyAbadi</p>

<p style=\"text-align: left;\">also partnership of Fuji Oil Japan, the world's largest</p>

<p style=\"text-align: left;\">producer of edible fats, McKeeson Investments,</p>

<p style=\"text-align: left;\">Singapore, the investment arm of Petra Foods and</p>

<p style=\"text-align: left;\">
	<br>
</p>

<p style=\"text-align: left;\"><strong>Lorem Ipsum</strong> is simply dummy text of the printing&nbsp;</p>

<p style=\"text-align: left;\">and typesetting industry. Lorem Ipsum has been the&nbsp;</p>

<p style=\"text-align: left;\">industry's standard dummy text ever since the 1500s,</p>

<p style=\"text-align: left;\">when an unknown printer took a galley of type and&nbsp;</p>

<p style=\"text-align: left;\">scrambled it to make a type specimen book. It has&nbsp;</p>

<p style=\"text-align: left;\">survived not only five centuries, but also the leap into</p>

<p style=\"text-align: left;\">electronic typesetting, remaining essentially unchanged.&nbsp;</p>

<p style=\"text-align: left;\">It was popularised in the 1960s with the release of Letraset</p>

<p style=\"text-align: left;\">sheets containing Lorem Ipsum passages, and more recently&nbsp;</p>

<p style=\"text-align: left;\">with desktop publishing software like Aldus PageMaker</p>

<p style=\"text-align: left;\">including versions of Lorem Ipsum.</p>"
sectionaboutBgimage = "/home/about-home.jpg"
sectionaboutBgMobile = "/home/mobile/about-home-mobile.jpg"
link1 = "https://www.youtube.com/channel/UCksajtyHqgBgtnsaILBQKaw"
icon1 = "youtube"
link2 = "https://www.instagram.com/tulipchocolate/"
icon2 = "twitter"
link3 = "https://web.facebook.com/tulipchocolate/"
icon3 = "facebook"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1
==