[viewBag]
title = "Couverture Series | Tulip Chocolate"
url = "/products/couvertureseries"
layout = "couvertureseries-layout"
is_hidden = 0
navigation_hidden = 0
couvertureTitle = "COUVERTURE SERIES"
couvertureInfo = "<p>We deliver the delicious taste of comfort and convenience that bring back your sweetest memories.</p>

<p>See our full range of products spanning from delicious fillings, chocolate bar to chocolate baton.</p>"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1
localeUrl[id] = "/produk/seri-couverture"
==