[viewBag]
title = "Compound Series | Tulip Chocolate"
url = "/products/compoundseries"
layout = "compoundseries-layout"
is_hidden = 0
navigation_hidden = 0
compoundTitle = "COMPOUND SERIES"
compoundInfo = "<p>This series provides various types of chocolate compound.</p>

<p>Invented by our R & D experts and approved by awarded pastry chef and chocolatier as</p>

<p>the most appropiate compound product for tropical climate with original chocolate flavor.</p>"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1
localeUrl[id] = "/produk/seri-compound"
==