[viewBag]
title = "Baker Series & Accessories | Tulip Chocolate"
url = "/products/bakerseriesaccessories"
layout = "bakerseriesaccessories-layout"
is_hidden = 0
navigation_hidden = 0
bakerseriesTitle = "BAKER SERIES & ACCESSORIES"
bakerseriesInfo = "<p>How about a baking product without the added flavor, which make the perfection of the final taste?</p>

<p>Tulip Chocolate as a pioneer in making bake stable chocolate for bakery products.</p>"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1
localeUrl[id] = "/produk/seri-baker-aksesoris"
==