[viewBag]
title = "WHAT WE DO"
url = "/whatwedo"
layout = "whatwedo-layout"
is_hidden = 0
navigation_hidden = 0
titletraining = "TRAINING"
bgTraining = "/whatwedo/Training.jpg"
bgTrainingMobile = "/whatwedo/mobile/Training-wwd-mobile.jpg"
desctraining = "<p><strong>Satisfied customers are essential to our success. We will achieve customer</strong></p>

<p><strong>satisfication by understanding what the customer wants and delivering it flawlessly.</strong></p>

<p>
	<br>
</p>

<p>Tulip is highly visible and involved in the world of chocolateering. An innovate</p>

<p>range of year round services are offered by a highly professional and experienced</p>

<p>staff including our own panel of five star chefs. Among the services offered are,</p>

<p>training sessions, seminars, exhibitions, demonstrations, international expos and</p>

<p>in-house guidance and consultation.</p>"
chocolateschoolPicture = "/whatwedo/logo_chocolate_school.png"
chocolateschoolContent = "<p>Tulip is the first in Indonesia, it offers world class facilities and a range of courses</p>

<p>for non-proffesional chocolate lovers, proffesional training for entrepreneurs,</p>

<p>upgrading of chocolate skills for people in culinary, confectionary, pastry, desserts</p>

<p>and horeca occupations.</p>

<p>
	<br>
</p>

<p><strong>Our Mission</strong></p>

<p>
	<br>
</p>

<p>To develop a passion for chocolate by providing outstanding chocolatier skills with</p>

<p>a global perspective.</p>"
titlecouncelor = "TULIP COUNCELOR"
bgCouncelor = "/whatwedo/tulip_councelor.jpg"
bgCouncelorMobile = "/whatwedo/mobile/Tulip_Councelor-wwd-mobile.jpg"
desccouncelor = "<p>If you have already have your own home business or a small enterprise,</p>

<p>already using TULIP, making and selling cakes and pastries, being a councelor</p>

<p>will give you immediate entry into the TULIP network and a chance to add to your</p>

<p>income and profits. Belonging to the TULIP network will give to access to regularly</p>

<p>held demos and classes where you can improve your skills, collect new recipes,</p>

<p>be in touch with like-minded colleagues and gain better exposure to the market.</p>

<p>In addition you can add to your income by being a TULIP representative in your area.</p>

<p>It is an exciting venture and one that will grow your passion for your business.</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p><strong>If this interests you, please contact <a data-fr-linked=\"true\" href=\"mailto:louis@theembassyofchocolate.com\">louis@theembassyofchocolate.com</a>.</strong></p>

<p><strong>for more details, face-to-face discussion and personalized coaching.</strong></p>"
titlelistdistributor = "TULIP LIST OF DISTRIBUTOR"
bgListdistributor = "/whatwedo/tulip_listofdistributor.jpg"
bgListdistributorMobile = "/whatwedo/mobile/Tulip_Listofdistributor-mobile.jpg"
sections[0][heading] = "1. Agen Semarang"
sections[0][content] = "<p>Jl. Semarang no. 81, kel. Sekaran, Kec. Gunungpati, Kab. Semarang Utara, Semarang, Jawa Tengah</p>"
sections[1][heading] = "2. Agen Jakarta Pusat"
sections[1][content] = "<p>Jl. Kampung Bali I, Kel. Petojo Selatan, Kec. Sawah Besar, Kab. Pasar Senen, Jakarta Pusat</p>"
sections[2][heading] = "3. Agen Tangerang Selatan"
sections[2][content] = "<p>Jl. Gunung indah V no. 101, Kel. Cirendeu , Kec. Ciputat Timur , Kab. Ciputat, Kota Tangerang Selatan.</p>"
sections[3][heading] = "4. Agen DI Yogyakarta"
sections[3][content] = "<p>Jl. Manggis no. 49 Kel. nologaten, Kec. Condongcatur, Kab. Bengkalis, Sleman , Daerah Istimewa Yogyakrta.</p>"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1
localeUrl[id] = "/yang-kita-lakukan"
==