[viewBag]
title = "Tulip List Of Agents | Tulip Chocolate"
url = "/whatwedo/tuliplistofagents"
layout = "listagent-layout"
is_hidden = 0
navigation_hidden = 0
listagentsTitle = "TULIP LIST OF AGENTS"
sections[0][title] = "1. Agen Semarang"
sections[0][content] = "<p>Jl. Semarang no. 81, kel. Sekaran, Kec. Gunungpati, Kab. Semarang Utara, Semarang, Jawa Tengah</p>"
sections[1][title] = "2. Agen Jakarta Pusat"
sections[1][content] = "<p>Jl. Kampung Bali I, Kel. Petojo Selatan, Kec. Sawah Besar, Kab. Pasar Senen, Jakarta Pusat</p>"
sections[2][title] = "3. Agen Tangerang Selatan"
sections[2][content] = "<p>Jl. Gunung indah V no. 101, Kel. Cirendeu , Kec. Ciputat Timur , Kab. Ciputat, Kota Tangerang Selatan.</p>"
sections[3][title] = "4. Agen DI Yogyakarta"
sections[3][content] = "<p>Jl. Manggis no. 49 Kel. nologaten, Kec. Condongcatur, Kab. Bengkalis, Sleman , Daerah Istimewa Yogyakrta.</p>"
bgImage = "/listagents.jpg"
enabled_in_sitemap = 0
use_updated_at = 0
changefreq = "always"
priority = 0.1
localeUrl[id] = "/yang-kita-lakukan/daftar-agen-tulip"
==