subject = "Magic Forms :: new form submited"
==
Record #{{ id}}
{% for label,value in data %}
    {{ label|capitalize }}: {% if value is iterable %}{% for val in value %}{{ val|nl2br }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}{{ value|nl2br }}{% endif %}
{% endfor %}
==
<h3>Record #{{ id}}</h3>

<table style="width:60%; border-collapse:collapse; ">
{% for label,value in data %}
    <tr>
        <td style="width:20%; background-color:#ECF0F1; text-align:right; padding:10px; border:solid 1px #D4D8DA; font-weight:bold;">{{ label|capitalize }}:</td>
        <td style="width:80%; background-color:#F9F9F9; padding:10px; border:solid 1px #D4D8DA;">
            {% if value is iterable %}
                {% for val in value %}
                    {{ val|nl2br }}
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
            {% else %}
                {{ value|nl2br }}
            {% endif %}
        </td>
    </tr>
{% endfor %}
</table>

<div style="width:60%; text-align:right;">
    <p style="font-size:0.8em; color:#888; font-weight:bold;">IP: {{ ip }}</p>
    <p style="font-size:0.8em; color:#888; font-weight:bold;">Time: {{ date }}</p>
</div>