<p>
    {% for link in linkitems %}
    <a 
    style="
    vertical-align: top;
		{% if link.color %}
			color:{{ link.color }};
		{% endif %}
		{% if link.background_color %}
			background-color:{{ link.background_color }};
		{% endif %}
		"
	{% if link.rel %}
	    rel="{{ link.rel }}" 
	{% endif %}
	
	{% if link.target %}
	    target="{{ link.target }}" 
	{% else %}
	    target="_blank" 
	{% endif %}
	
	title="{{ link.title }}"
	href="{{ link.url }}"
		
    class="social-media fa-stack">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="{{ link.icon }} fa-stack-1x"></i>
    </a>
    {% endfor %}
</p>