@media (max-width: 575.98px) {
    /* MENU */
    .float-menu .menu-icon {
        height: 40px;
    }
    .float-menu .menu-bar {
        font-size: 30px;
    }
    .float-menu .menu-bar p {
        font-size: 9px;
    }
    
    
    /* Menu Bahasa */
    nav.nav-lang {
        top: 15px;
        right: 15px;
    }
    
    /* HOME */
    .content .section-1 {
        padding-top: 3em;
    }
    .content .section-about {
        padding-top: 0;
        text-align: center;
        height: auto;
    }
    .section-about img {
        padding-bottom: 2em;
    }
    .section-about .about-title {
        font-size: 28px;
    }
    
    .section-brand .brand-1 {
        padding: 2em; 
    }
    .section-brand .brand-2 {
        padding: 2em; 
    }
    .section-brand .brand-3 {
        padding: 2em; 
    }
    .section-artikel .card h3 {
        -webkit-line-clamp: 4;
    }
    /* CONTENT */
    /* .carousel-item {
        height: 100% !important;
    } */
    
    .section-brand {
        height: auto !important;
    }
    
    .section-brand .brand-1 {
        height: 200px;
        width: 160px;
        left: 10.5em;
        top: 4.5em;
    }
    .section-brand .brand-2 {
        height: 200px;
        width: 160px;
        left: 0em;
        top: 0em;
    }
    .section-brand .brand-3 {
        height: 200px;
        width: 160px;
        left: 10.5em;
        top: -10em;
    }
    
    
    
    /* PAGE CONTACT */
    /* #kontak form{
        padding-top: 3em;
    } */
}
@media (max-width: 767.98px) { }

