@font-face {font-family: "Avenir-Medium";
    src: url("../fonts/2090551770be22b09600a40b0b4673b7.eot"); /* IE9*/
    src: url("../fonts/2090551770be22b09600a40b0b4673b7.eot?#iefix}") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/2090551770be22b09600a40b0b4673b7.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/2090551770be22b09600a40b0b4673b7.woff") format("woff"), /* chrome、firefox */
    url("../fonts/2090551770be22b09600a40b0b4673b7.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/2090551770be22b09600a40b0b4673b7.svg#Avenir-Medium") format("svg"); /* iOS 4.1- */
  }
  


html, body {

  height: 100%;

  width: 100%;

}

body {font-family: 'Avenir-Medium', serif; font-size: 16px; font-weight: normal; color: #854508; line-height: 30px; text-align: center; }



strong { font-weight: bold; }



a { color: #854508; text-decoration: none; transition: all .3s; }

a:hover, a:focus { color: #854508; border: 0; text-decoration: none; }



h1, h2 { margin-top: 10px; font-size: 38px; font-weight: 100; color: #854508; line-height: 50px; }

h3 { font-size: 22px; font-weight: 300; color: #555; line-height: 30px; }

h4 { font-size: 18px; font-weight: 300; color: #555; line-height: 26px; }



img { max-width: 100%; }



.medium-paragraph { font-size: 18px; line-height: 34px; }



::-moz-selection { background: #f35b3f; color: #fff; text-shadow: none; }

::selection { background: #f35b3f; color: #fff; text-shadow: none; }





/***** Wrapper *****/



.wrapper { display: block; }





/***** Sidebar *****/



.sidebar {

	width: 350px; height: 100vh; position: fixed; top: 0; left: -355px; z-index: 999; 

	background: rgba(209, 181, 159, 0.95); color: #fff; transition: all .3s; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);

	text-align: left;

}



.sidebar.active { left: 0; }



.dismiss {

    font-size: 30px; width: 45px; height: 45px; position: absolute; top: 20px; right: 20px; transition: all .3s; 

	background: transparent;  text-align: center; line-height: 42px; cursor: pointer;

}



.dismiss .fas{line-height: 42px;}



.dismiss:hover, .dismiss:focus { background: transparent; color: #fff;}



.sidebar .logo { padding: 10px;  transition: all .3s; }



.sidebar .logo a {

	display: inline-block;

	width: 172px;

	height: 34px;

	border: 0;

    text-indent: -999999px;

    

}

.sidebar-logo {

    width: 40px;

}

.logo .container p{

    color: #fff;

}



.sidebar ul.menu-elements { height: 450px; transition: all .3s; color: #854508; }



.sidebar ul li a {

	display: block;

    color: #854508;

    background: #fff;

    padding: 7px;

    width: 350px;

    margin-bottom: 10px;

    text-align: center;

    border: 1px solid black;

}

.dropdown > .dropdown-menu li a:hover {

    background: #b30000;

    color: #fff;

    

  }



/* Sidebar Mobile */



/* Full Width Nav Mobile */





@media only screen and (max-width: 480px){

    .sidebar {

        width: 100%; position: fixed; top: 0; left: -600px; z-index: 999; 

        background: rgba(209, 181, 159, 0.95); color: #fff; transition: all .3s; box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);

        text-align: center;

    }

    .sidebar ul li a {

	    width: 100%;

    }



}















/***** Navbar *****/

.menu-logo .main-menu {

	height: 60px;

    width: auto;

    margin-right: 25px;

    margin-bottom: 10px;



}

.menu-bar {

    padding: 10px 10px 5px 40px;

    background: rgba(209, 181, 159, 1); border: 0; border-radius: 0 10px 10px;

    font-size: 40px; color: #fff; box-shadow: none;

    margin-left: px;

    width: 100px;



}

.menu-bar p {

    color:#fff;

    font-size: 12px;

    font-weight: bold;

}

.menu-bar:hover,

.menu-bar:active,

.menu-bar:focus,

.menu-bar:active:focus,

.menu-bar:focus {

    outline: 0; background: #b30000; border: 0; color: #fff; box-shadow: none;

}

/* Menu Bar Mobile */

.menu-logo-mobile .main-menu {

	height: 90px;

    width: auto;

    margin-right: 25px;

    margin-bottom: 10px;



}

.menu-bar-mobile {

    padding-left: 25px;

    background: none; 

    color: rgba(209, 181, 159, 1); box-shadow: none;

    margin-left: px;

    width: 100px;



}

.menu-bar-mobile i {

    font-size: 60px;

    color: rgba(209, 181, 159, 1);

    padding-right: 20px;

}

.menu-bar-mobile p {

    color:rgba(209, 181, 159, 1);

    font-size: 17px;

    font-weight: bold;

    padding-right: 20px;



}

.menu-bar-mobile:hover,

.menu-bar-mobile:active,

.menu-bar-mobile:focus,

.menu-bar-mobile:active:focus,

.menu-bar-mobile:focus {

    outline: 0; background: #b30000; border: 0; color: #fff; box-shadow: none;

}







.float-menu {

    position: fixed;

    top: 0;

    left: 0;

    z-index: 997;

    background: rgba(209, 181, 159, 1);

    border: none;

    border-radius: 0 10px 10px;

    box-shadow: none;

}



/* Float Menu Mobile */



.float-menu-mobile {

    position: fixed;

    top: 0;

    left: 0;

    z-index: 997;

    background: none;

    border: none;

    border-radius: 0 10px 10px;

    box-shadow: none;

}









/***** Dark overlay *****/



.overlay {

    display: none; position: fixed; width: 100vw; height: 100vh; 

    background: transparent; z-index: 998; opacity: 0; transition: all .5s ease-in-out;

}



.overlay.active { display: block; opacity: 1; }



/* 

/***** Content *****/



.absolute {

    position: absolute;

}

.content { width: 100%; transition: all 0.3s; }





/* .open-menu.btn-customized,

.open-menu.btn-customized:hover, 

.open-menu.btn-customized:active, 

.open-menu.btn-customized:focus, 

.open-menu.btn-customized:active:focus, 

.open-menu.btn-customized.active:focus,

.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,

.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {

    box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);

} */





/***** Buttons *****/



a.btn-customized {

	padding: .75rem 1.5rem; 

	background: #d3ccb0; border: 0; border-radius: 0 10px 10px; 

	font-size: 40px; font-weight: 300; color: #fff; box-shadow: none;

}



a.btn-customized:hover, 

a.btn-customized:active, 

a.btn-customized:focus, 

a.btn-customized:active:focus, 

a.btn-customized.active:focus,

a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,

a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {

	outline: 0; background: #d3ccb0; border: 0; color: #fff; box-shadow: none;

}











/***** General style, all sections *****/



.section-container { margin: 0 auto; padding-bottom: 80px; }



.section-container-gray-bg { background: #f8f8f8; }



.section-container-image-bg, 

.section-container-image-bg h2, 

.section-container-image-bg h3 { color: #fff; }



.section-container-image-bg .divider-1 span { border-color: #fff; border-color: rgba(255, 255, 255, 0.8); }



.section-description { margin-top: 60px; padding-bottom: 10px; }



.section-description p { margin-top: 20px; padding: 0 120px; }

.section-container-image-bg .section-description p { opacity: 0.8; }



.section-bottom-button { padding-top: 20px; }







/* Menu Bahasa */

.nav-lang {

    position: fixed;

    top: 30px;

    right: 40px;

    z-index: 990;

    color: #854508;

}

.nav-lang a {

    color: #854508;

    text-decoration: none;

    font-size: 12px;

    font-weight: 700;

}
.nav-lang img {
    border: 1px solid #000000;
}

/* Menu Bahasa Mobile */

@media only screen and (max-width: 480px){

    .nav-lang {

        position: fixed;

        top: 30px;

        right: 40%;

        color: #854508;

    }

    .nav-lang a {

        color: #854508;

        text-decoration: none;

        font-size: 12px;

        font-weight: 700;

    }

}



.nav-menu {

    position: fixed;

    right: 0;

    z-index: 990;

    color: #854508;

}

.nav-menu a {

    color: #854508;

    text-decoration: none;

    font-size: 12px;

    font-weight: 700;

}

/***** Home Page *****/

/* -- Intro -- */

#intro {

    padding-top: 0;

    color: #854508;

    height: 100%;

    width: 100%;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

    

    

}

.intro-title {

    margin-top: 200px;

    font-weight: bold;

    margin-right: 100px;

    text-align: right;

    line-height: 1;

}

@media only screen and (max-width: 480px){

    #intro {

        width: 100%;
        height: 100%;

        

    }

    .intro-title { 

        text-align: center;

        padding-top: 600px;

        margin: 0;

        line-height: 0.65;
        font-size: 2em;

    }

  }

  @media only screen and (min-width: 481px) and (max-width: 768px) {

    .intro-title { 

        text-align: center;

        margin: 0;

      }

  }

/* -- Section What We Do -- */

.section-whatwedo {

    min-height: 100vh;

    max-height: 150vh;

    padding-top: 5em;

    padding-left: 3em;

    background-size: cover;

    background-repeat: no-repeat;

    text-align: left;

  

}

.section-whatwedo p {

    margin: 0;

    color: #8B4513;

    font-size: 16px;

    line-height: 20px;

}

.whatwedo-title {

    margin-bottom: 2em;

    margin-top: 1em;

    font-weight: 900;

    font-size: 25px;

}

@media screen and (max-width: 579px) {

    /* PAGE WWE */

    

    .section-whatwedo {

        background: #fff;

        margin-top: 0;

        padding-left: 0;

        padding-right: 0;

        text-align: center;


    }

    .section-whatwedo .whatwedo-title {

        margin-bottom: 1em;
        
        font-size: 23px;

    }

}

#section-do {

    height: 100%;

    width: 100%;

    line-height: 1.5;

}

#section-do h3 {

    padding-top: 100px;

    color: #854508;

    font-weight: bold;

}

.container-do {

    color: #854508;

    text-align: left;

}

@media only screen and (max-width: 480px){

    #section-do h3 { 

        text-align: center; 

        vertical-align: middle;

      }

    #section-do p { 

        text-align: center;

        vertical-align: middle;

        p

    }

    .container-do {

        color: #854508;

        text-align: center;

    }

  }

  @media only screen and (min-width: 481px) and (max-width: 768px) {

    #section-do h3 { 

        text-align: center;

        vertical-align: middle;

      }

    #section-do p { 

        text-align: center;

        vertical-align: middle;

    }

    .container-do {

        color: #854508;

        text-align: center;

    }

  }

/* -- Section Our Products -- */

.bg-margin {

    margin: 0;

}

div.gallery {

    position: relative;

    border: none;

    margin: auto;

    overflow: hidden;

}

div.gallery:hover {

}

div.gallery img {

    width: 100%;

    height: 100%;

    display: block;

    transition: all 2.0s;

    transform: scale(1);

    webkit-transition: all 2.0s;

    -moz-transition: all 2.0s;

}

div.gallery img:hover, div.gallery img.hover_effect  {

    transform: scale(1.9);

    webkit-transform: scale(1.9);

    -moz-transform: scale(1.9);

}

.hover {

    -webkit-user-select: none;

    -webkit-touch-callout: none;        

}

.image-product {

    display: block;

    width: 100%;

}

div.gallery .title-block {

    position: absolute; 

    bottom: 400; 

    width: 100%;

    transition: .5s ease;

    opacity:1;

    font-size: 20px;

    padding-top: 20px;

    text-align: center;

}

div.gallery .title-block h2 {

    color: #854508;

    font-weight: bold;

    font-size: 25px;

    padding-bottom: 40px;

}

div.gallery .text-block {

    position: absolute; 

    bottom: 0; 

    width: 100%;

    transition: .5s ease;

    opacity:1;

    font-size: 20px;

    padding: 20px;

    text-align: center;

}

div.gallery .text-block h3{

    color: #fff;

    padding-bottom:25px;

    font-size: 35px;

}

div.gallery .text-block-product3 {

    position: absolute; 

    bottom: 0; 

    width: 100%;

    transition: .5s ease;

    opacity:1;

    font-size: 20px;

    padding: 20px;

    text-align: center;

}

div.gallery .text-block-product3 h3{

    color: #fff;

    padding-bottom: 10px;

    font-size: 35px;

}

div.gallery:hover .text-block {  

}

.responsive {

    padding: 0;

    float: left;

    width: 33.33333%;

}

@media only screen and (max-width: 700px){

    .responsive {

        width: 100%;

        margin: 0;

    }

}

@media only screen and (max-width: 500px){

    .responsive {

        width: 100%;

    }

    div.gallery .title-block h2 {

        padding-bottom: 65px;

    }

}



.button-image {

	background-color: #555555;

	border: 2px solid #555555;

	border-radius: 8px;

	color: white;

	padding: 10px 38px;

	text-align: center;

	text-decoration: none;

	display: inline-block;

	font-size: 12px;

}



.productimage:hover {

    background: #b30000;

    color:#b30000;

}









/* -- Section About Us -- */

.section-about {

    height: 100%;

    width: 100%;

    line-height: 10px;

}

.section-about .container h3 {

    padding-top: 100px;

    color: #854508;

    font-weight: bold;

}

.container p {

    color: #854508;

}





/***** Footer *****/

footer { padding: 20px 0; background: #43210a; color: #fff;}



.footer-icon p {

    color: #fff;

}

.social-media {

    color: #fff;

    font-size: 24px;

    text-decoration: none;

}

.fa-stack {

    border: 1px solid  #fff;

    border-radius: 50%;

}

.fa-circle {

    color: transparent;

}



/* footer .social-media {

    background: #43210a;

    color: #fff;

    padding-top: 30px;

}

footer .social-media h3 {

    background: #43210a;

    color: #fff;

}

footer .social-media img {

    padding: 0;

}

.footer-icons a {

    display: inline-block;

    width: 35px;

    height: 35px;

    cursor: pointer;

    background-color: transparent;

    border-radius: 20px;

    border: 1px solid #fff;

    font-size: 20px;

    color: #ffffff;

    text-align: center;

    line-height: 35px;

 

    margin-right: 3px;

    margin-bottom: 5px;

}

.footer-icons i {

    padding-top: 7px;

}

 */

/***** Footer Scroll Top *****/

.scroll-top {

    padding: 5px;

    font-size: 20px;

    width: 30px;

    height: 30px;

    text-align: center;

    text-decoration: none;

    border-radius: 50%;
    
    outline: none;

}

.fa:hover {

    opacity: 0.7;

    outline: none;

}

.top-btn {

    position: fixed;

    right: 40px;

    bottom: 15px;

    width: 50px;

    height: 50px;

    outline: none;

    cursor: pointer;

    color:#FFF;

    border: none;

    background:#8B4513;

    display: none;

    border-radius: 50%;

}



/***** Contact Us *****/



.contact {

    padding-top: 150px;

    padding-bottom: 500px;

    color: #fff !important;

    height: 100%;

    width: 100%;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;  

}



/***** Contact Form *****/



form {

    text-align: right; 

    color: #fff !important;

}

.contact-form {

    color: #fff !important;

 }

input {

    color: #fff;

}

.form-control {

    background: transparent;

    border-radius: 0.5em;

    color: #fff;

}

.form-control:focus {

    background: none;

    box-shadow: none;

    color: #fff;

}



textarea.form-control {

    height: 10em;

}

::-webkit-input-placeholder { /* Edge */

  color: #fff !important;

}



:-ms-input-placeholder { /* Internet Explorer 10-11 */

  color: #fff !important;

}



::placeholder {

  color: #fff !important;

}



.form-control.round-style {

    color: #854508;

    background: #cfc5a694;

    border-radius: 0.5em;

    border: none;

    font-weight: 600;

    font-size: 12px;

    padding: 20px;

    font-style: italic;

}



.btn-radius {

    color: #fff;

    background: transparent;

    padding: 9px 30px;

    border: 1px solid #fff;

    border-radius: 1em;

    font-weight: 600;

    font-size: 12px;

    font-style: italic;

}

.btn-radius:hover {

    color: #854508;

    text-decoration: none;

    background-color: #fff;

    font-weight: bold;

}

@media only screen and (max-width: 500px){
    .contact {
        padding-top: 195px;  
    }
    .form-control {
        margin: 0;
        border: none;
    }
    .contact-form {
        margin: 10px;
    }
    /* #comments {
        width: 310px;
        height: 110px;
    } */
    /* .btn-radius {
        margin-top: 17px;
        margin-right: 10px;
        border: none;
    } */
    /* .form-control.round-style {

        border-radius: 0.5em;
    
        border: none;
    
        font-weight: 600;
    
        font-size: 12px;
    
        padding: 10px;
    
    } */
    
}
/***** HOME PAGE *****/



/***** WHAT WE DO PAGE *****/

.training {

    padding-top: 120px;

}

.training h3 {

    color: #8B4513;

    font-weight: bold;

}



/* Training */

.section-training {

    min-height: 110vh;

    max-height: 150vh;

    width: 100%;

    padding-top: 6em;

    padding-left: 3em;

    background-size: cover;

    background-repeat: no-repeat;

    text-align: left;

}

.section-training p {

    margin: 0;

    color: #8B4513;

    font-size: 16px;

    line-height: 20px;

}

.training-title {

    margin-bottom: 1em;

    margin-top: 1em;

    font-weight: 900;

}

#chocolateschool img {

    border: 1px solid black;

    

}



/* Tulip Councelor */

.section-councelor {

    min-height: 100vh;

    max-height: 150vh;

    padding-top: 5em;

    padding-left: 3em;

    background-size: cover;

    background-repeat: no-repeat;

    text-align: left;

}

.section-councelor p {

    margin: 0;

    color: #8B4513;

    font-size: 16px;

    line-height: 20px;

}

.councelor-title {

    margin-bottom: 2em;

    margin-top: 1em;

    font-weight: 900;

}



/* List Of Distributor */
.section-listdistributor {
    background-color: #3b404e;;
    background-size: cover;
    width: 100%;
    height: auto;
    margin-bottom: 3em;
}
.section-listdistributor .grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: 225px 225px 225px;
    padding: 10px;
    margin-right: 500px;
    padding-left: 60px;
}
.section-listdistributor .grid-item {
    background-color: rgba(209, 181, 159, 1);
    border: transparent;
    border-radius: 25px;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    height: auto;
    width: 225px;
}

/* 
.section-listdistributor {

    padding-top: 5em;

    padding-left: 3em;

    background-size: cover;

    background-repeat: no-repeat;

    text-align: left;

    height: 500px; 

} */


.section-listdistributor p {

    margin: 0;

    color: #8B4513;

    font-size: 16px;

    line-height: 20px;

}
.section-listdistributor address {
    color: #8B4513;
}

.listdistributor-title {

    margin-bottom: 2em;

    margin-top: 3em;

    font-weight: 900;

    text-align: left;

    margin-left: 60px;

}
.section-listdistributor .card {
    border: 1px solid red;
    border-radius: ;
    background-color : rgba(209, 181, 159, 1);
    width: 200px;
    height: 200px;
}
.section-listdistributor article {
    margin: 0;
}






@media screen and (max-width: 579px) {

    /* PAGE WWE */

    .section-training {

        background: #fff;

        padding-left: 0;

        padding-right: 0;

        text-align: center;

        line-height: normal;

        padding-top: 0;
        
        height: auto;

    }

    .section-training .training-title {

        margin-top: 100px;
        font-size: 30px;
        

    }

    

    .section-councelor {

        background: #fff;

        padding-top: 5em;

        margin-top: 3em;

        padding-left: 0;

        padding-right: 0;

        text-align: center;

        margin-bottom: 100px;

    }

    .section-councelor .councelor-title {

        margin-top: 1em;

        font-size: 30px;

    }

    .section-listdistributor {

        background: #fff;

        padding-top: 1em;

        margin-top: 1em;

        padding-left: 0;

        padding-right: 0;

        text-align: center;

        margin-bottom: 50px;

    }

    .section-listdistributor .listdistributor-title {

        margin-bottom: 1em;

        font-size: 30px;

        text-align: center;

        margin-top: 3em;

        margin-right: 50px;

    }

    .section-listdistributor .grid-container {
    
        grid-template-columns: 225px;
        margin-left: 0;
        margin-right: 0;
        padding-right: 50px;
        justify-content: center;
    }
    .section-listdistributor .grid-item {
        justify-content: center;
        align-items: center;
    }

  

}







/***** Chocolate School Page*****/

.chocolateschool {

    padding-top: 120px;

}

.chocolateschool h3 {

    color: #8B4513;

    font-weight: bold;

}



/***** Tulip Councelor Page *****/

.councelor {

    padding-top: 120px;

}

.councelor h3 {

    color: #8B4513;

    font-weight: bold;

}





/***** List Of Distributor Page *****/

.listdistributor {

  padding-top: 120px;

  height: 100%;

  padding-bottom: 600px;

}

.listdistributor h3 {

  color: #8B4513;

  font-weight: bold;

}



/***** Couverture Series Product Page *****/

.couverture {

    padding-top: 100px;

    background-color:#fff2e6;

    color: #8B4513;

}

.owl-theme {

    width: 100%;
    outline: none;
}

.owl-carousel .owl-nav [class*='owl-'] {

    -webkit-transition: all .3s ease;

    transition: all .3s ease;
    border: none;
    outline: none;

}

.owl-carousel .owl-nav [class*='owl-'].disabled:hover {

    background-color: #D6D6D6;
    outline: none;


}

.owl-carousel {

    position: relative;
    outline: none;


}

.owl-carousel .owl-next,

.owl-carousel .owl-prev {

    width: 50px;

    height: 50px;

    line-height: 50px;

    border-radius: 50%;

    position: absolute;

    top: 45%;

    font-size: 20px;

    color: transparent;

    border: none;

    text-align: center;

    outline: none;


}

.owl-carousel .owl-prev {

    left: -7%;
    border: none;
    outline: none;

}

.owl-carousel .owl-next {

    right: -7%;
    border: none;
    outline: none;

}

@media screen and (max-width: 600px) {

    .owl-carousel .owl-prev {

        left: -3%;
        outline: none;


    }

    

    .owl-carousel .owl-next {

        right: -3%;
        outline: none;


    }

}

.owl-carousel .owl-nav button.owl-next:hover {

    background-color: transparent;
    border: none;
    outline: none;

}

.owl-carousel .owl-nav button.owl-prev {
    background-color: transparent;
    border: none;
    outline: none;


}

.owl-carousel .owl-nav button.owl-prev:hover {

    background-color: transparent;
    border: none;
    outline: none;



}

.am-prev {

    border-radius: 50%;
    border: none;
    outline: none;


}

.couverture-card {

    border-radius: 20px;

    background-color: rgba(209, 181, 159, 1);

    

}

.item img {

    width: 15px;

    height: 150px;

}

.item h6 {

    font-weight: bold;

    color: #8B4513;

    width: auto;

    height: 50px;

}

.item table {

    color: #8B4513;

}

.see-recipes {

    padding-top: 50px;

    padding-bottom: 50px;

}

.recipes-desc p {

    font-weight: bold;

}

/***** Couverture Series Product Detail *****/

ul {

    padding: 0;

    margin: 0;

}

.image-slider-main {

    width: 800px;

    height: 600px;

}

#slider-wrapper{

    max-width: 540px;

    width: auto;

    height: 450px;

    margin: 50px auto;

    background-color: rgba(209, 181, 159, 1);

    padding: 15px;

    border-radius: 20px;



}

#image-slider{

    width: auto;

    height: auto;

    position: relative;

    overflow: hidden;

    margin: auto;

    display: block;

}

#image-slider ul{

    width: 100%;

    height: 300px;

    position: relative;

    

}

#image-slider ul li{

    display: inline-block;

    position: absolute;

    top: 0;

    left: 540px;

    width: 100%;

    height:100%; 

}

#image-slider ul li img {

    width: 100%;

    height:auto;

}

#image-slider ul li.active-img{

    left: 0;

}

.next-img{

    z-index: 9999;

}

#thumbnail {

    cursor: default;

    margin-top: 3px;

    height: auto;

    display: table; 

    width: 100%;

}

#thumbnail ul {

    width: 100%;

    height: 100%;

}

#thumbnail li{

    list-style: none;

    float: left;

    cursor: pointer;

    min-width: 1px;

}                                                               

#thumbnail li img{

    padding: 0;

    float: left;

    margin: 0px 1.5px;

    max-height: 56px;

    height: 56px;

}

#thumbnail li:first-child img{

    margin-right:0px;

    margin-left:0px;

}

.product-description {

    color: #fff;

    height: 450px;

    border-size: 50px;

    border-radius: 20px;

    margin: 50px auto;



}

.product-description h3 {

    color: #8B4513;

    font-weight: bold;

}

.product-description h6 {

    color: #fff;

    border: 1px solid #fff;

    border-radius: 20px;

    padding: 10px;

    background-color: #b30000;

}

.border-primary {

    border-color: #8B4513 !important;

}

.product-description .border-primary table {

    color: #8B4513;

}

.border-primary table {

    color: #8B4513;

    background-color: rgba(209, 181, 159, 1);

}





/***** Compound Series Product Page *****/

.compound {

    padding-top: 100px;

    background-color:#fff2e6;

}

.compound-card {

    border-radius: 20px;

    background-color: rgba(209, 181, 159, 1); 

}



/***** Baker Series & Accessories Product Page *****/

.bakeraccessories {

    padding-top: 100px;

    background-color:#fff2e6;

}

.bakeraccessories-card {

    border-radius: 20px;

    background-color: rgba(209, 181, 159, 1); 

}



/***** About Us Page *****/

.aboutus {

    padding-top: 120px;

    height: 100%;

}

.aboutus h3 {

    text-align: left;

    font-weight: 900;

    color: #8B4513;

    font-size: 25px;

}



/*************** SCROLLBAR BASE CSS ***************/

 

.scroll-wrapper {

    overflow: hidden !important;

    padding: 0 !important;

    position: relative;

}

 

.scroll-wrapper > .scroll-content {

    border: none !important;

    box-sizing: content-box !important;

    height: auto;

    left: 0;

    margin: 0;

    max-height: none;

    max-width: none !important;

    overflow: scroll !important;

    padding: 0;

    position: relative !important;

    top: 0;

    width: auto !important;

}

 

.scroll-wrapper > .scroll-content::-webkit-scrollbar {

    height: 0;

    width: 0;

}

 

.scroll-element {

    display: none;

}

.scroll-element, .scroll-element div {

    box-sizing: content-box;

}

 

.scroll-element.scroll-x.scroll-scrollx_visible,

.scroll-element.scroll-y.scroll-scrolly_visible {

    display: block;

}

 

.scroll-element .scroll-bar,

.scroll-element .scroll-arrow {

    cursor: default;

}

 

.scroll-textarea {

    border: 1px solid #cccccc;

    border-top-color: #999999;

}

.scroll-textarea > .scroll-content {

    overflow: hidden !important;

}

.scroll-textarea > .scroll-content > textarea {

    border: none !important;

    box-sizing: border-box;

    height: 100% !important;

    margin: 0;

    max-height: none !important;

    max-width: none !important;

    overflow: scroll !important;

    outline: none;

    padding: 2px;

    position: relative !important;

    top: 0;

    width: 100% !important;

}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {

    height: 0;

    width: 0;

}

 

/*************** SIMPLE INNER SCROLLBAR ***************/

 

.scrollbar-inner > .scroll-element,

.scrollbar-inner > .scroll-element div

{

    border: none;

    margin: 0;

    padding: 0;

    position: absolute;

    z-index: 10;

}

 

.scrollbar-inner > .scroll-element div {

    display: block;

    height: 100%;

    left: 0;

    top: 0;

    width: 100%;

}

 

.scrollbar-inner > .scroll-element.scroll-x {

    bottom: 2px;

    height: 8px;

    left: 0;

    width: 100%;

}

 

.scrollbar-inner > .scroll-element.scroll-y {

    height: 100%;

    right: 2px;

    top: 0;

    width: 8px;

}

 

.scrollbar-inner > .scroll-element .scroll-element_outer {

    overflow: hidden;

}

 

.scrollbar-inner > .scroll-element .scroll-element_outer,

.scrollbar-inner > .scroll-element .scroll-element_track,

.scrollbar-inner > .scroll-element .scroll-bar {

    -webkit-border-radius: 8px;

    -moz-border-radius: 8px;

    border-radius: 8px;

}

 

.scrollbar-inner > .scroll-element .scroll-element_track,

.scrollbar-inner > .scroll-element .scroll-bar {

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

    filter: alpha(opacity=40);

    opacity: 0.6;

}

 

.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #43210a; }

.scrollbar-inner > .scroll-element .scroll-bar { background-color: #43210a; }

.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #43210a; }

.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #43210a; }

 

 

/* update scrollbar offset if both scrolls are visible */

 

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }

 

 

.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }

.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }





.scrollbar-inner {

    width: 400px;

    max-height: 300px;

    box-sizing: border-box;

    padding-right: 20px;

    overflow: -moz-scrollbars-none;

}



#content-1{

    width: 400px;

    max-height: 300px;

    overflow: hidden;

    padding: 10px;

  }

  #content-1 ul{

    width: 230px;

    margin: 0;

    padding: 0;

    list-style: none;

    overflow: hidden;

  }

  #content-1 li{

    width: 200px;

    height: 120px;

    margin: 5px;

    padding: 5px 10px;

    background: #dbf3f7;

  }

  @media only screen and (min-width: 1024px){

    #content-1{

      width: 80%;

      height: 170px;

    }

    #content-1 ul{ width: auto; }

    #content-1 li{ float: left; }

  }





  #scrollbar-text { 

      width: 400px;

      max-height: 300px; 

      background: transparent; 

      border-radius:3px;

      text-align: center; 

    }

  @media only screen and (max-width: 480px){

    #scrollbar-text { 

        width: 21.5em;

        max-height: 300px; 

        background: transparent; 

        border-radius:3px;

        text-align: center; 

      }

     .title-about h3{

         text-align: center;

         font-size: 23px;

         font-weight: 900;

     }
     .title-about p {
         text-align: center;
     }

  

}

  @media only screen and (min-width: 481px) and (max-width: 768px) {

    #scrollbar-text { 

        width: 22em;

        max-height: 300px; 

        background: transparent; 

        border-radius:3px;

        text-align: center; 

      }
      .title-about p {
        text-align: center;
    }

  }



    @media only screen and (min-width: 1024px){

    #content-1 {

      width: 80%;

      height: 170px;

    }

    #content-1 ul{ width: auto; }

    #content-1 li{ float: left; }

  }

/*****  Article & Recipes Detail Post Page *****/

.article-detail {
    padding-top: 150px;
    background-color: #fff2e6;
    padding-bottom: 150px; 
}
.article-detail img {
    float: right; 
    width: 511px;
    height: 338px; 
    border-radius: 50px; 
    text-align: left; 
    margin-left: 50px;
}
.article-detail h2 {
    font-weight: bold;
    text-align: left; 
    margin-bottom: 30px;
}
.article-detail .content {
    text-align: left;
    line-height: normal;
   
}
.article-detail .card {
    background: none !important;
    border: none !important;
}
.record-list ul li{
    list-style: none;
}
.post-list p {
}
.pagination li {
}
.pagination li a {
    margin: 3px;
}
.pagination li.active {
    background-color: #b30000;
    border-radius: 20px;
    opacity: 0.6;
}
.pagination-article {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .article-detail {
        padding-top: 0;
        margin: 0;
        margin-left: 0;
        margin-right: 0;
      }
      .article-detail .row {
         
      }
      .article-detail h2 {
          text-align: center;
          font-size: 2em;
      }
      .article-detail img {
          border-radius: 0;
          display: block;
          width: 100%;
          height: 200px;
      }
      .article-detail .content {
          text-align: center;
          font-size: 1em;
      }
      .article-detail p {
          text-align: center;
      }
      .article-detail .content table {
          border-collapse: collapse;
          border-spacing: 0;
          border: 1px solid #ddd;
          overflow-x: auto;
          display: block;
      }
      .article-detail .content th,td {
         
      }
    }
  
/***** Article Category Page *****/
/***** Article Category Page *****/
#article-category {
    padding-top: 125px;
    background-color: #fff2e6;
    padding-bottom: 100px;  
    padding-left: 35px;
    padding-right: 35px;
    height: 600px;
}
.article-category h2 {
    text-align: left;
}
.article-category h3 {
    font-size: 15px;
    font-weight: bold;
    color: #854508;
}
.article-category .post-list  {
    text-align: left;
    color: #854508;
}


@media screen and (max-width: 768px) {
    #article-category {
        padding-top: 200px;
    }
    .article-category h2 {
        text-align: center;
    }
    .article-category h3 {
        text-align: center;
    }
    .article-category .post-list  {
        text-align: center;
        color: #854508;
    }
  }

/***** Recipes Category Page *****/
.recipes-category {
    padding-top: 75px;
    background-color: #fff2e6;
    padding-bottom: 50px;  
    padding-left: 35px;
    padding-right: 35px;
}
.recipes-category h2 {
    text-align: left;
    margin-left: 10px;
    font-size: 3em;
}
#card-recipes {
    border-radius: 25px;

}
#card-recipes img {
    border-radius: 25px;
}
.recipes-category h4 {
    font-weight: bold;
    width: auto;
    height: 0;
}
.recipes-category p {
    width: auto;
    height: 25px;
}
@media screen and (max-width: 768px) {
    #recipes-category h2 {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }
    .recipes-category h4 {
        font-size: 15px;
        font-weight: bold;
        width: auto;
        height: 15px;
    }
    .recipes-category p {
        font-size: 15px;
        width: auto;
        height: 40px;
    }
}
