/***** Couverture Series Product *****/

/* Product Homepage */



// Dropdown menu
*, *:before, *:after {
    -webkit-border-sizing: border-box;
    -moz-border-sizing: border-box;
    border-sizing: border-box;
  }
  .menu-elements > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    background: none;
  }
  .dropdown {
    
	/* Select all <li class="dropdown"> with a direct descendant of class 'dropdown menu' */
	text-align: left;
	justify-content: left;
    justify-items: left;
  }
  .dropdown a {
	text-decoration: none;
	color: #854508;
  text-align: center;

}
  .heading-sidemenu {
  color: #854508;
  font-weight: bold;
  border: 1px solid black;
  }
  .dropdown [data-toggle="dropdown"] {
    display: block;
    color: #854508;
    background: #fff;
    padding: 7px;
    
  }
  .dropdown [data-toggle="dropdown"]:hover {
    background: #fff;
  }
  /* Add the triangle */
.dropdown [data-toggle="dropdown"]:before {
    position: absolute;
    display: block;
    content: url('../img/panah_kanan.png');
    font-size: 0.7em;
    color: #fff;
    top: 13px;
    left: 30px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
  }
  /* element with class dropdown and has a direct descendant of dropdown-menu */
.dropdown > .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transition: max-height 0.6s ease-in;
    -o-transition: max-height 0.6s ease-in;
    -webkit-transition: max-height 0.6s ease-in;
    transition: max-height 0.6s ease-in;
    animation: hideAnimation 0.4s ease-in;
    -moz-animation: hideAnimation 0.4s ease-in;
    -webkit-animation: hideAnimation 0.4s ease-in;
    background: rgba(209, 181, 159, 1);
    border:none;

  }
  .dropdown > .dropdown-menu li {
    padding: 0;
    background: #fff;
  

  }
  .dropdown > .dropdown-menu li a {
    display: block;
    color: #854508;
    background: transparent;
    -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);
    padding: 7px;
   
  }
  .dropdown > .dropdown-menu li a:hover {
    background: #f6f6f6;
  }
  .dropdown > input[type="checkbox"] {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    
  }

  /* When input-checkbox is selected */
/* Element with a class of dropdown, checkbox is selected, and checkbox has a general sibling of .dropdown-menu */
.dropdown > input[type="checkbox"]:checked ~ .dropdown-menu {
    max-height: 9999px;
    display: block;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    -moz-animation: showAnimation 0.5s ease-in-out;
    -webkit-animation: showAnimation 0.5s ease-in-out;
    -moz-transition: max-height 2s ease-in-out;
    -o-transition: max-height 2s ease-in-out;
    -webkit-transition: max-height 2s ease-in-out;
    transition: max-height 2s ease-in-out;
  }
  .dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"] {
    
  }
  
  /* Rotate Triangle -180 to point down */
.dropdown > input[type="checkbox"]:checked + a[data-toggle="dropdown"]:before {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
  }
  
/* Sidebar Mobile */

/* Full Width Nav Mobile */


@media only screen and (max-width: 480px){
     /* element with class dropdown and has a direct descendant of dropdown-menu */
    .dropdown > .dropdown-menu {
       width: 100%;
      }
}

  