[viewBag]
aboutusTitle = "TENTANG KAMI"
aboutusInfo = "<p style=\"text-align: left;\"><strong>Tulip sangat terlihat dan terlibat dalam dunia </strong><strong>cokelat. </strong></p>

<p style=\"text-align: left;\"><strong>Berbagai inovasi sepanjang tahun </strong><strong>lay</strong><strong>anan yang ditaw</strong><strong>a</strong></p>

<p style=\"text-align: left;\"><strong>rkan oleh yang sangat profesional dan </strong><strong>staf berpenga</strong></p>

<p style=\"text-align: left;\"><strong>laman termasuk panel kami sendiri lima </strong><strong>koki bintang.</strong></p>

<p style=\"text-align: left;\">
	<br>
</p>

<p style=\"text-align: left;\">
	<br>
</p>

<p style=\"text-align: left;\">Tulip Chocolate adalah merek yang dimiliki dan diproduksi</p>

<p style=\"text-align: left;\">oleh FreyAbadi Indotama, kemitraan para pemimpin dunia</p>

<p style=\"text-align: left;\">dalam produk dan layanan Bahan Makanan. FreyAbadi</p>

<p style=\"text-align: left;\">juga kemitraan dari Fuji Oil Jepang, yang terbesar di dunia</p>

<p style=\"text-align: left;\">penghasil lemak yang dapat dimakan, McKeeson Investments,</p>

<p style=\"text-align: left;\">Singapura, cabang investasi dari Petra Foods dan</p>

<p style=\"text-align: left;\">
	<br>
</p>

<p style=\"text-align: left;\">Lorem Ipsum hanyalah teks tiruan dari pencetakan</p>

<p style=\"text-align: left;\">dan industri penyusunan huruf. Lorem Ipsum telah menjadi</p>

<p style=\"text-align: left;\">teks boneka standar industri sejak tahun 1500-an,</p>

<p style=\"text-align: left;\">ketika printer yang tidak dikenal mengambil dapur tipe dan</p>

<p style=\"text-align: left;\">mengacaknya untuk membuat buku jenis spesimen. Memiliki</p>

<p style=\"text-align: left;\">selamat tidak hanya lima abad, tetapi juga lompatan ke</p>

<p style=\"text-align: left;\">penyusunan huruf elektronik, tetap dasarnya tidak berubah.</p>

<p style=\"text-align: left;\">
	<br>
</p>

<p style=\"text-align: left;\">Itu dipopulerkan pada 1960-an dengan rilis Letraset</p>

<p style=\"text-align: left;\">lembar berisi bagian Lorem Ipsum, dan yang terbaru</p>

<p style=\"text-align: left;\">dengan perangkat lunak desktop publishing seperti Aldus PageMaker</p>

<p style=\"text-align: left;\">termasuk versi Lorem Ipsum.</p>"
title = "Tentang Kami | Cokelat Tulip"
==