[viewBag]
title = "Beranda - Cokelat Tulip"
tagline = "<p>Konsitensi sebuah selera</p>

<p>lintas generasi</p>"
sectiondoTitle = "APA YANG KITA LAKUKAN"
sectiondoContent = "<p>Semua yang kami lakukan adalah tentang pelanggan kami.</p>



<p>

	<br>

</p>



<p>Keberhasilan bisnis pelanggan kami yang berkelanjutan adalah</p>



<p>

	<br>

</p>



<p>prioritas kami.</p>



<p>

	<br>

</p>



<p>Kami memastikan untuk selalu menyediakan produk dengan kualitas terbaik</p>



<p>

	<br>

</p>



<p>melalui sistem produksi proffesional, kualitas yang ketat</p>



<p>

	<br>

</p>



<p>kontrol, standar keamanan pangan yang tepercaya, dan penggunaan</p>



<p>

	<br>

</p>



<p>teknologi terbaru.</p>"
sectionourproductsTitle1 = "SERI COUVERTURE"
sectionourproductsTitle2 = "SERI COMPOUND"
sectionourproductsTitle3 = "SERI BAKER & AKSESORIS"
sectionaboutTitle = "TENTANG KAMI"
sectionaboutContent = "<p>Tulip sangat terlihat dan terlibat dalam dunia</p>



<p>cokelat. Berbagai inovasi sepanjang tahun</p>



<p>layanan yang ditawarkan oleh yang sangat profesional dan</p>



<p>staf berpengalaman termasuk panel kami sendiri lima</p>



<p>koki bintang.</p>



<p>Tulip Chocolate adalah merek yang dimiliki dan diproduksi</p>



<p>oleh FreyAbadi Indotama, kemitraan para pemimpin dunia</p>



<p>dalam produk dan layanan Bahan Makanan. FreyAbadi</p>



<p>juga kemitraan dari Fuji Oil Jepang, yang terbesar di dunia</p>



<p>penghasil lemak yang dapat dimakan, McKeeson Investments,</p>



<p>Singapura, cabang investasi dari Petra Foods dan</p>"
ourproductsHeading = "PRODUK KAMI"
ourproductsTitle1 = "SERI 



<p>COUVERTURE</p>"
ourproductsTitle2 = "<p>SERI</p>



<p>COMPOUND</p>"
ourproductsTitle3 = "<p>SERI BAKER </p>



<p>& </p>



<p>AKSESORI</p>"
titleintro = "<p>Konsistensi sebuah rasa</p>



<p>lintas generasi</p>"
titlewhatwedo = "YANG KITA LAKUKAN"
descwhatwedo = "<p>Semua yang kami lakukan adalah tentang pelanggan kami.</p>



<p>Keberhasilan bisnis pelanggan kami yang berkelanjutan adalah</p>



<p>prioritas kami.</p>



<p>Kami memastikan untuk selalu menyediakan produk dengan kualitas terbaik</p>



<p>melalui sistem produksi proffesional, kualitas yang ketat</p>



<p>kontrol, standar keamanan pangan yang tepercaya, dan penggunaan</p>



<p>teknologi terbaru.</p>"
==