[viewBag]
title = "Seri Compound | Cokelat Tulip"
compoundTitle = "SERI COMPOUND"
compoundInfo = "<p>Seri ini menyediakan berbagai jenis dari compound cokelat.</p>

<p>Ditemukan oleh ahli R &amp; D kami dan disetujui oleh koki kue dan pembuat cokelat peraih penghargaan sebagai&nbsp;</p>

<p>produk compound yang paling cocok untuk iklim tropis dengan rasa cokelat asli.</p>"
==