[viewBag]
couvertureTitle = "SERI COUVERTURE"
couvertureInfo = "<p>Kami mengirim rasa yang lezat dari kenyamanan dan kepercayaan yang membawa kembali memori paling indahmu.</p>

<p>Lihat rangkaian lengkap produk kami mulai dari isian lezat, cokelat batangan hingga cokelat baton.</p>"
title = "Seri Couverture | Cokelat Tulip"
==