[viewBag]
title = "YANG KITA LAKUKAN"
titletraining = "PELATIHAN"
titlecouncelor = "KONSELOR TULIP"
titlelistagents = "DAFTAR AGEN TULIP"
desctraining = "<p><strong>Pelanggan yang puas sangat penting untuk kesuksesan kami. Kami akan mencapai kepuasan</strong></p>

<p><strong>pelanggan dengan memahami apa yang diinginkan pelanggan dan mengirimkannya dengan sempurna.</strong></p>

<p>
	<br>
</p>

<p>Tulip sangat terlihat dan terlibat dalam dunia cokelat. Inovasi berbagai layanan sepanjang tahun</p>

<p>ditawarkan oleh staf yang berpengalaman dan sangat profesional termasuk panel kami sendiri&nbsp;</p>

<p>koki bintang lima. Di antara yang ditawarkan adalah sesi pelatihan, seminar, pameran, demonstrasi,&nbsp;</p>

<p>pameran internasional, dan bimbingan beserta konsultasi in-house.</p>

<p><span lang=\"id\">&nbsp;</span></p>

<p>
	<br>
</p>

<p>
	<br>
</p>"
chocolateschoolContent = "<p>Tulip adalah yang pertama di Indonesia, menawarkan fasilitas kelas dunia dan beragam kursus</p>

<p>untuk pecinta cokelat non-profesional, pelatihan profesional untuk wirausaha,</p>

<p>peningkatan keterampilan cokelat untuk orang-orang di bidang kuliner, gula-gula, kue kering,</p>

<p>makanan penutup, dan pekerjaan horeca.</p>

<p>
	<br>
</p>

<p>Misi Kami</p>

<p>
	<br>
</p>

<p>Untuk mengembangkan gairah terhadap cokelat &nbsp;dengan memberikan keterampilan cokelat</p>

<p>yang luar biasa dengan perpektif dunia.</p>

<p>
	<br>
</p>"
desccouncelor = "<p>Jika anda sudah memiliki bisnis rumahan atau usaha kecil, &nbsp;sudah menggunakan TULIP,</p>

<p>membuat dan menjual kue dan kue kering, &nbsp;menjadi konselor akan memberi anda&nbsp;</p>

<p>langsung masuk ke jaringan TULIP dan mendapat sebuah kesempatan untuk menambah</p>

<p>keuntungan dan pendapatanmu. Jaringan TULIP akan memberi akses secara teratur&nbsp;</p>

<p>mengadakan demo dan kelas dimana anda dapat meningkatkan keterampilan anda,&nbsp;</p>

<p>mengumpulkan resep baru, berhubungan dengan rekan kerja yang berfikiran sama&nbsp;</p>

<p>dan mendapatkan paparan yang lebih baik ke pasar. Selain itu anda dapat menambah</p>

<p>penghasilan dengan menjadi perwakilan TULIP di daerah anda. Ini adalah usaha yang&nbsp;</p>

<p>menarik dan akan menumbuhkan hasrat anda untuk bisnis anda.</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p><strong>Jika ini menarik minat anda, silahkan hubungi <a data-fr-linked=\"true\" href=\"mailto:louis@theembassyofchocolate.com\">louis@theembassyofchocolate.com</a>.</strong></p>

<p><strong>Untuk detail lebih lanjut, diskusi tatap muka dan pelatihan pribadi.</strong></p>

<p>
	<br>
</p>"
titlelistdistributor = "DAFTAR DISTRIBUTOR TULIP"
==