title = "Berita"
url = "/berita"
layout = "article-layout"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 1
changefreq = "always"
priority = 0.1

[newsPosts]
pageNumber = "{{ :page }}"
postsPerPage = 1
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postFeatured = 0
categoryFilter = "{{ :slug }}"
postPage = "berita/berita-post"
categoryPage = "berita/berita-category"

[newsCategories]
noPostsMessage = "No posts found"
categoryPage = "berita/berita-category"
==
<div class="row">
    <div class="col-sm-8">
    {% component "newsPosts" %}
    </div>
    <div class="col-sm-4">
    {% component "newsCategories" %}
    </div>
</div>