title = "Blog"
url = "/blog/:page?"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 1
changefreq = "always"
priority = 0.1

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog/category"
==
<div class="row">
    <div class="col-sm-8">
        {% component 'blogPosts' %}
    </div>
    <div class="col-sm-4">
        {% component 'blogCategories' %}
    </div>
</div>