.blog-post-preview .editor-preview .preview-content {
  padding: 20px;
}
.blog-post-preview .editor-preview span.image-placeholder {
  display: block;
}
.blog-post-preview .editor-preview span.image-placeholder .upload-dropzone {
  background: #ecf0f1;
  display: block;
  border: 1px solid #e5e9ec;
  padding: 25px;
  min-height: 123px;
  position: relative;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.blog-post-preview .editor-preview span.image-placeholder .upload-dropzone span.label {
  color: #b1b9be;
  font-size: 16px;
  display: inline-block;
  margin-top: 25px;
}
.blog-post-preview .editor-preview span.image-placeholder .upload-dropzone:before {
  display: inline-block;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f03e";
  position: absolute;
  left: 25px;
  top: 25px;
  line-height: 100%;
  font-size: 73px;
  color: #d1d3d4;
}
.blog-post-preview .editor-preview span.image-placeholder .upload-dropzone.hover,
.blog-post-preview .editor-preview span.image-placeholder .upload-dropzone:hover {
  background: #2f99da;
}
.blog-post-preview .editor-preview span.image-placeholder .upload-dropzone.hover:before,
.blog-post-preview .editor-preview span.image-placeholder .upload-dropzone:hover:before,
.blog-post-preview .editor-preview span.image-placeholder .upload-dropzone.hover span.label,
.blog-post-preview .editor-preview span.image-placeholder .upload-dropzone:hover span.label {
  color: white;
}
.blog-post-preview .editor-preview span.image-placeholder input[type=file] {
  position: absolute;
  left: -10000em;
}
.blog-post-preview-container .loading-indicator {
  position: absolute;
  display: none;
  width: 20px;
  height: 20px;
  padding: 0!important;
  background: transparent;
  right: 10px;
  left: auto;
  top: 10px;
}
.blog-post-preview-container.loading-indicator-visible .loading-indicator {
  display: block;
}
html.cssanimations .blog-post-preview span.image-placeholder.loading .upload-dropzone:before {
  display: none;
}
html.cssanimations .blog-post-preview span.image-placeholder.loading .upload-dropzone .indicator {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 35px;
  top: 35px;
  background-image: url('../../../../../modules/system/assets/ui/images/loader-transparent.svg');
  background-size: 50px 50px;
  background-position: 50% 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

