title = "Events Category"
url = "/events/category/:slug"
layout = "article-layout"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 1
changefreq = "always"
priority = 0.1

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "events/events-category"
postPage = "events/events-post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "events/events-category"
==
<div class="row">
    <div class="col-sm-8">
        {% component "blogPosts" %}
    </div>
    <div class="col-sm-4">
        {% component "blogCategories" %}
    </div>
</div>